.background {
    background-size: 100%;
}

.highlight {
    border-left: 5px solid #55C6D7;
}

.header {
    :global(.accordion-button:not(.collapsed)),
    :global(.accordion-button) {
        font-family: "montserrat";
        color: #000;
        font-size: 18px;
        font-weight: 500;
        background-color: #55C6D7;
        box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
    }
    :global(.accordion-item) {
        font-family: "nunito";
        margin-bottom: 15px;
        font-size: 18px;
    }
    :global(.accordion-body) {
        padding: 20px 30px;
    }
}

