.btm {

    &-0 { bottom: 0px; }
    &-4 { bottom: 4px; }
    &-5 { bottom: 5px; }
    &-8 { bottom: 8px; }
    &-10 { bottom: 10px; }
    &-12 { bottom: 12px; }
    &-15 { bottom: 15px; }
    &-16 { bottom: 16px; }
    &-20 { bottom: 20px; }
}