@use '../../abstracts/breakpoints' as *;
@forward './bottom';
@forward './top';
@forward './left';
@forward './right';

.pos- {

    &relative { position: relative; }
    &absolute {
        position: absolute;
        &-center-all {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &fixed { position: fixed; }
    &sticky { position: sticky; }

    @media (max-width: $desktop-md) {
        &dt-md- {
            &relative { position: relative; }
            &absolute { position: absolute; }
            &fixed { position: fixed; }
            &sticky { position: sticky; }
        }
    }
    @media (max-width: $desktop-sm) {
        &dt-sm- {
            &relative { position: relative; }
            &absolute { position: absolute; }
            &fixed { position: fixed; }
            &sticky { position: sticky; }
        }
    }
    @media (max-width: $tablet-md) {
        &tb-md- {
            &relative { position: relative; }
            &absolute { position: absolute; }
            &fixed { position: fixed; }
            &sticky { position: sticky; }
        }
    }
    @media (max-width: $tablet-sm) {
        &tb-sm- {
            &relative { position: relative; }
            &absolute { position: absolute; }
            &fixed { position: fixed; }
            &sticky { position: sticky; }
        }
    }
    @media (max-width: $tablet-xs) {
        &tb-xs- {
            &relative { position: relative; }
            &absolute { position: absolute; }
            &fixed { position: fixed; }
            &sticky { position: sticky; }
        }
    }
    @media (max-width: $media-525) {
        &media-525- {
            &relative { position: relative; }
            &absolute { position: absolute; }
            &fixed { position: fixed; }
            &sticky { position: sticky; }
        }
    }
    @media (max-width: $media-575) {
        &media-575- {
            &relative { position: relative; }
            &absolute { position: absolute; }
            &fixed { position: fixed; }
            &sticky { position: sticky; }
        }
    }
    @media (max-width: $mobile-xl) {
        &mb-xl- {
            &relative { position: relative; }
            &absolute { position: absolute; }
            &fixed { position: fixed; }
            &sticky { position: sticky; }
        }
    }
    @media (max-width: $mobile-lg) {
        &mb-lg- {
            &relative { position: relative; }
            &absolute { position: absolute; }
            &fixed { position: fixed; }
            &sticky { position: sticky; }
        }
    }
    @media (max-width: $mobile-md) {
        &mb-md- {
            &relative { position: relative; }
            &absolute { position: absolute; }
            &fixed { position: fixed; }
            &sticky { position: sticky; }
        }
    }
    @media (max-width: $mobile-sm) {
        &mb-sm- {
            &relative { position: relative; }
            &absolute { position: absolute; }
            &fixed { position: fixed; }
            &sticky { position: sticky; }
        }
    }
}