@use '../../abstracts/breakpoints' as *;

.lft {
    &-0 { left: 0px; }
    &-4 { left: 4px; }
    &-5 { left: 5px; }
    &-8 { left: 8px; }
    &-10 { left: 10px; }
    &-12 { left: 12px; }
    &-15 { left: 15px; }
    &-16 { left: 16px; }
    &-20 { left: 20px; }
    &-25 { left: 25px; }
    &-30 { left: 30px; }
    &-35 { left: 35px; }
    &-40 { left: 40px; }
    &-50 { left: 50px; }
    &-60 { left: 60px; }
    &-70 { left: 70px; }
    &-80 { left: 80px; }
    &-100 { left: 100px; }
    &-150 { left: 150px; }
    &-175 { left: 175px; }
    &-200 { left: 200px; }
    &-300 { left: 300px; }

    @media (max-width: $mobile-md) {
        &-mb-md {
            &-0 { left: 0px; }
            &-4 { left: 4px; }
            &-5 { left: 5px; }
            &-8 { left: 8px; }
            &-10 { left: 10px; }
            &-12 { left: 12px; }
            &-15 { left: 15px; }
            &-16 { left: 16px; }
            &-20 { left: 20px; }
            &-30 { left: 30px; }
            &-35 { left: 35px; }
            &-40 { left: 40px; }
            &-50 { left: 50px; }
            &-60 { left: 60px; }
            &-70 { left: 70px; }
            &-80 { left: 80px; }
            &-100 { left: 100px; }
            &-150 { left: 150px; }
            &-175 { left: 175px; }
            &-200 { left: 200px; }
            &-300 { left: 300px; }
        }
    }
}