@use '../../abstracts/breakpoints' as *;

.rgt {

    &-0 { right: 0px; }
    &-4 { right: 4px; }
    &-5 { right: 5px; }
    &-8 { right: 8px; }
    &-10 { right: 10px; }
    &-12 { right: 12px; }
    &-15 { right: 15px; }
    &-16 { right: 16px; }
    &-20 { right: 20px; }
    &-25 { right: 25px; }
    &-30 { right: 30px; }
    &-40 { right: 40px; }
    &-50 { right: 50px; }
    &-60 { right: 60px; }

    @media (max-width: $media-575) {
        &-media-575- {
            &0 { right: 0px !important; }
            &4 { right: 4px; }
            &5 { right: 5px; }
            &8 { right: 8px; }
            &10 { right: 10px; }
            &12 { right: 12px; }
            &15 { right: 15px; }
            &16 { right: 16px; }
            &20 { right: 20px; }
            &25 { right: 25px; }
            &30 { right: 30px; }
        }
    }

    @media (max-width: $tablet-md) {
        &-tb-md- {
            &0 { right: 0px !important; }
            &4 { right: 4px; }
            &5 { right: 5px; }
            &8 { right: 8px; }
            &10 { right: 10px; }
            &12 { right: 12px; }
            &15 { right: 15px; }
            &16 { right: 16px; }
            &20 { right: 20px; }
            &25 { right: 25px; }
            &30 { right: 30px; }
        }
    }
}