@use '../../abstracts/breakpoints' as *;

.top {

    &-0 { top: 0px; }
    &-4 { top: 4px; }
    &-5 { top: 5px; }
    &-8 { top: 8px; }
    &-10 { top: 10px; }
    &-12 { top: 12px; }
    &-15 { top: 15px; }
    &-16 { top: 16px; }
    &-20 { top: 20px; }
    &-25 { top: 25px; }
    &-30 { top: 30px; }
    &-35 { top: 35px; }
    &-40 { top: 40px; }
    &-50 { top: 50px; }
    &-55 { top: 55px; }
    &-60 { top: 60px; }
    &-70 { top: 70px; }
    &-80 { top: 80px; }
    &-100 { top: 100px; }


    @media (max-width: $mobile-xl) {
        &-mb-xl {
            &-0 { top: 0px; }
            &-4 { top: 4px; }
            &-5 { top: 5px; }
            &-8 { top: 8px; }
            &-10 { top: 10px; }
            &-12 { top: 12px; }
            &-15 { top: 15px; }
            &-16 { top: 16px; }
            &-20 { top: 20px; }
            &-25 { top: 25px; }
            &-30 { top: 30px; }
            &-35 { top: 35px; }
            &-40 { top: 40px; }
            &-50 { top: 50px; }
            &-55 { top: 55px; }
            &-60 { top: 60px; }
            &-70 { top: 70px; }
            &-80 { top: 80px; }
            &-100 { top: 100px; }
                }
    }

    @media (max-width: $mobile-md) {
        &-mb-md {
            &-0 { top: 0px; }
            &-4 { top: 4px; }
            &-5 { top: 5px; }
            &-8 { top: 8px; }
            &-10 { top: 10px; }
            &-12 { top: 12px; }
            &-15 { top: 15px; }
            &-16 { top: 16px; }
            &-20 { top: 20px; }
            &-25 { top: 25px; }
            &-30 { top: 30px; }
            &-35 { top: 35px; }
            &-40 { top: 40px; }
            &-50 { top: 50px; }
            &-55 { top: 55px; }
            &-60 { top: 60px; }
            &-70 { top: 70px; }
            &-80 { top: 80px; }
            &-100 { top: 100px; }
                }
    }

    @media (max-width: $tablet-md) {
        &-tb-md {
            &-0 { top: 0px; }
            &-4 { top: 4px; }
            &-5 { top: 5px; }
            &-8 { top: 8px; }
            &-10 { top: 10px; }
            &-12 { top: 12px; }
            &-15 { top: 15px; }
            &-16 { top: 16px; }
            &-20 { top: 20px; }
            &-25 { top: 25px; }
            &-30 { top: 30px; }
            &-35 { top: 35px; }
            &-40 { top: 40px; }
            &-50 { top: 50px; }
            &-55 { top: 55px; }
            &-60 { top: 60px; }
            &-70 { top: 70px; }
            &-80 { top: 80px; }
            &-100 { top: 100px; }
                }
    }

    
}