@use './breakpoints' as *;

$breakpoints_alies:(
    mb-sm: $mobile-sm,
    mb-md: $mobile-md,
    mb-lg: $mobile-lg,
    mb-xl: $mobile-xl,
    tb-xs: $tablet-xs,
    tb-sm: $tablet-sm,
    tb-md: $tablet-md,
    dt-sm: $desktop-sm,
    dt-sm-2: $desktop-sm-2,
    dt-md: $desktop-md,
    dt-md-2:$desktop-md,
    dt-lg: $desktop-lg,
    dt-4k: $desktop-4k,
);