$mobile-sm: 320px;
$mobile-md: 375px;
$mobile-lg: 425px;
$mobile-xl: 494px;
$media-525: 525px;
$media-575: 575px;
$tablet-xs: 661px;
$tablet-sm: 768px;
$tablet-md: 991px;
$desktop-sm: 1024px;
$desktop-sm-2: 1280px;
$desktop-md: 1440px;
$desktop-md-2:1680px;
$desktop-lg: 1980px;
$desktop-4k: 2560px;