@use '../../abstracts/spacing' as *;
@use '../../abstracts//breakpoints' as *;

@media (max-width: $mobile-xl) {
    //PADDING ALL
    .p-mb-xl {
        &-0 { padding: $spacing-0; }
        &-4 { padding: $spacing-4; }
        &-8 { padding: $spacing-8; }
        &-12 { padding: $spacing-12; }
        &-16 { padding: $spacing-16; }
        &-24 { padding: $spacing-24; }
        &-28 { padding: $spacing-28; }
        &-32 { padding: $spacing-32; }
        &-36 { padding: $spacing-36; }
        &-80 { padding: $spacing-80; }
        &-120 { padding: $spacing-120; }
        &-160 { padding: $spacing-160; }
    }

    //PADDING TOP
    .pt-mb-xl {
        &-0 { padding-top: $spacing-0; }
        &-4 { padding-top: $spacing-4; }
        &-8 { padding-top: $spacing-8; }
        &-12 { padding-top: $spacing-12; }
        &-16 { padding-top: $spacing-16; }
        &-24 { padding-top: $spacing-24; }
        &-28 { padding-top: $spacing-28; }
        &-32 { padding-top: $spacing-32; }
        &-36 { padding-top: $spacing-36; }
        &-80 { padding-top: $spacing-80; }
        &-120 { padding-top: $spacing-120; }
        &-160 { padding-top: $spacing-160; }
    }
    
    //PADDING BOTTOM
    .pb-mb-xl {
        &-0 { padding-bottom: $spacing-0; }
        &-4 { padding-bottom: $spacing-4; }
        &-8 { padding-bottom: $spacing-8; }
        &-12 { padding-bottom: $spacing-12; }
        &-16 { padding-bottom: $spacing-16; }
        &-24 { padding-bottom: $spacing-24; }
        &-28 { padding-bottom: $spacing-28; }
        &-32 { padding-bottom: $spacing-32; }
        &-36 { padding-bottom: $spacing-36; }
        &-80 { padding-bottom: $spacing-80; }
        &-120 { padding-bottom: $spacing-120; }
        &-160 { padding-bottom: $spacing-160; }
    }

    //PADDING RIGHT
    .pr-mb-xl {
        &-0 { padding-right: $spacing-0; }
        &-4 { padding-right: $spacing-4; }
        &-8 { padding-right: $spacing-8; }
        &-12 { padding-right: $spacing-12; }
        &-16 { padding-right: $spacing-16; }
        &-24 { padding-right: $spacing-24; }
        &-28 { padding-right: $spacing-28; }
        &-32 { padding-right: $spacing-32; }
        &-36 { padding-right: $spacing-36; }
        &-80 { padding-right: $spacing-80; }
        &-120 { padding-right: $spacing-120; }
        &-160 { padding-right: $spacing-160; }
    }

    //PADDING LEFT
    .pl-mb-xl {
        &-0 { padding-left: $spacing-0; }
        &-4 { padding-left: $spacing-4; }
        &-8 { padding-left: $spacing-8; }
        &-12 { padding-left: $spacing-12; }
        &-16 { padding-left: $spacing-16; }
        &-24 { padding-left: $spacing-24; }
        &-28 { padding-left: $spacing-28; }
        &-32 { padding-left: $spacing-32; }
        &-36 { padding-left: $spacing-36; }
        &-80 { padding-left: $spacing-80; }
        &-120 { padding-left: $spacing-120; }
        &-160 { padding-left: $spacing-160; }
    }

    //PADDING HORIZONTAL
    .px-mb-xl {
        &-0 { padding-left: $spacing-0; padding-right: $spacing-0; }
        &-4 { padding-left: $spacing-4; padding-right: $spacing-4; }
        &-8 { padding-left: $spacing-8; padding-right: $spacing-8; }
        &-12 { padding-left: $spacing-12; padding-right: $spacing-12; }
        &-16 { padding-left: $spacing-16; padding-right: $spacing-16; }
        &-24 { padding-left: $spacing-24; padding-right: $spacing-24; }
        &-28 { padding-left: $spacing-28; padding-right: $spacing-28; }
        &-32 { padding-left: $spacing-32; padding-right: $spacing-32; }
        &-36 { padding-left: $spacing-36; padding-right: $spacing-36; }
        &-80 { padding-left: $spacing-80; padding-right: $spacing-80; }
        &-120 { padding-left: $spacing-120; padding-right: $spacing-120; }
        &-160 { padding-left: $spacing-160; padding-right: $spacing-160; }
    }
    
    //PADDING HORIZONTAL
    .py-mb-xl {
        &-0 { padding-top: $spacing-0; padding-bottom: $spacing-0; }
        &-4 { padding-top: $spacing-4; padding-bottom: $spacing-4; }
        &-8 { padding-top: $spacing-8; padding-bottom: $spacing-8; }
        &-12 { padding-top: $spacing-12; padding-bottom: $spacing-12; }
        &-16 { padding-top: $spacing-16; padding-bottom: $spacing-16; }
        &-24 { padding-top: $spacing-24; padding-bottom: $spacing-24; }
        &-28 { padding-top: $spacing-28; padding-bottom: $spacing-28; }
        &-32 { padding-top: $spacing-32; padding-bottom: $spacing-32; }
        &-36 { padding-top: $spacing-36; padding-bottom: $spacing-36; }
        &-80 { padding-top: $spacing-80; padding-bottom: $spacing-80; }
        &-120 { padding-top: $spacing-120; padding-bottom: $spacing-120; }
        &-160 { padding-top: $spacing-160; padding-bottom: $spacing-160; }
    }
}

@media (max-width: $mobile-lg) {
    //PADDING ALL
    .p-mb-lg {
        &-0 { padding: $spacing-0; }
        &-4 { padding: $spacing-4; }
        &-8 { padding: $spacing-8; }
        &-12 { padding: $spacing-12; }
        &-16 { padding: $spacing-16; }
        &-24 { padding: $spacing-24; }
        &-28 { padding: $spacing-28; }
        &-32 { padding: $spacing-32; }
        &-36 { padding: $spacing-36; }
        &-80 { padding: $spacing-80; }
        &-120 { padding: $spacing-120; }
        &-160 { padding: $spacing-160; }
    }

    //PADDING TOP
    .pt-mb-lg {
        &-0 { padding-top: $spacing-0; }
        &-4 { padding-top: $spacing-4; }
        &-8 { padding-top: $spacing-8; }
        &-12 { padding-top: $spacing-12; }
        &-16 { padding-top: $spacing-16; }
        &-24 { padding-top: $spacing-24; }
        &-28 { padding-top: $spacing-28; }
        &-32 { padding-top: $spacing-32; }
        &-36 { padding-top: $spacing-36; }
        &-80 { padding-top: $spacing-80; }
        &-120 { padding-top: $spacing-120; }
        &-160 { padding-top: $spacing-160; }
    }
    
    //PADDING BOTTOM
    .pb-mb-lg {
        &-0 { padding-bottom: $spacing-0; }
        &-4 { padding-bottom: $spacing-4; }
        &-8 { padding-bottom: $spacing-8; }
        &-12 { padding-bottom: $spacing-12; }
        &-16 { padding-bottom: $spacing-16; }
        &-24 { padding-bottom: $spacing-24; }
        &-28 { padding-bottom: $spacing-28; }
        &-32 { padding-bottom: $spacing-32; }
        &-36 { padding-bottom: $spacing-36; }
        &-80 { padding-bottom: $spacing-80; }
        &-120 { padding-bottom: $spacing-120; }
        &-160 { padding-bottom: $spacing-160; }
    }

    //PADDING RIGHT
    .pr-mb-lg {
        &-0 { padding-right: $spacing-0; }
        &-4 { padding-right: $spacing-4; }
        &-8 { padding-right: $spacing-8; }
        &-12 { padding-right: $spacing-12; }
        &-16 { padding-right: $spacing-16; }
        &-24 { padding-right: $spacing-24; }
        &-28 { padding-right: $spacing-28; }
        &-32 { padding-right: $spacing-32; }
        &-36 { padding-right: $spacing-36; }
        &-80 { padding-right: $spacing-80; }
        &-120 { padding-right: $spacing-120; }
        &-160 { padding-right: $spacing-160; }
    }

    //PADDING LEFT
    .pl-mb-lg {
        &-0 { padding-left: $spacing-0; }
        &-4 { padding-left: $spacing-4; }
        &-8 { padding-left: $spacing-8; }
        &-12 { padding-left: $spacing-12; }
        &-16 { padding-left: $spacing-16; }
        &-24 { padding-left: $spacing-24; }
        &-28 { padding-left: $spacing-28; }
        &-32 { padding-left: $spacing-32; }
        &-36 { padding-left: $spacing-36; }
        &-80 { padding-left: $spacing-80; }
        &-120 { padding-left: $spacing-120; }
        &-160 { padding-left: $spacing-160; }
    }

    //PADDING HORIZONTAL
    .px-mb-lg {
        &-0 { padding-left: $spacing-0; padding-right: $spacing-0; }
        &-4 { padding-left: $spacing-4; padding-right: $spacing-4; }
        &-8 { padding-left: $spacing-8; padding-right: $spacing-8; }
        &-12 { padding-left: $spacing-12; padding-right: $spacing-12; }
        &-16 { padding-left: $spacing-16; padding-right: $spacing-16; }
        &-24 { padding-left: $spacing-24; padding-right: $spacing-24; }
        &-28 { padding-left: $spacing-28; padding-right: $spacing-28; }
        &-32 { padding-left: $spacing-32; padding-right: $spacing-32; }
        &-36 { padding-left: $spacing-36; padding-right: $spacing-36; }
        &-80 { padding-left: $spacing-80; padding-right: $spacing-80; }
        &-120 { padding-left: $spacing-120; padding-right: $spacing-120; }
        &-160 { padding-left: $spacing-160; padding-right: $spacing-160; }
    }
    
    //PADDING HORIZONTAL
    .py-mb-lg {
        &-0 { padding-top: $spacing-0; padding-bottom: $spacing-0; }
        &-4 { padding-top: $spacing-4; padding-bottom: $spacing-4; }
        &-8 { padding-top: $spacing-8; padding-bottom: $spacing-8; }
        &-12 { padding-top: $spacing-12; padding-bottom: $spacing-12; }
        &-16 { padding-top: $spacing-16; padding-bottom: $spacing-16; }
        &-24 { padding-top: $spacing-24; padding-bottom: $spacing-24; }
        &-28 { padding-top: $spacing-28; padding-bottom: $spacing-28; }
        &-32 { padding-top: $spacing-32; padding-bottom: $spacing-32; }
        &-36 { padding-top: $spacing-36; padding-bottom: $spacing-36; }
        &-80 { padding-top: $spacing-80; padding-bottom: $spacing-80; }
        &-120 { padding-top: $spacing-120; padding-bottom: $spacing-120; }
        &-160 { padding-top: $spacing-160; padding-bottom: $spacing-160; }
    }
}

@media (max-width: $mobile-md) {
    //PADDING ALL
    .p-mb-md {
        &-0 { padding: $spacing-0; }
        &-4 { padding: $spacing-4; }
        &-8 { padding: $spacing-8; }
        &-12 { padding: $spacing-12; }
        &-16 { padding: $spacing-16; }
        &-24 { padding: $spacing-24; }
        &-28 { padding: $spacing-28; }
        &-32 { padding: $spacing-32; }
        &-36 { padding: $spacing-36; }
        &-80 { padding: $spacing-80; }
        &-120 { padding: $spacing-120; }
        &-160 { padding: $spacing-160; }
    }

    //PADDING TOP
    .pt-mb-md {
        &-0 { padding-top: $spacing-0; }
        &-4 { padding-top: $spacing-4; }
        &-8 { padding-top: $spacing-8; }
        &-12 { padding-top: $spacing-12; }
        &-16 { padding-top: $spacing-16; }
        &-24 { padding-top: $spacing-24; }
        &-28 { padding-top: $spacing-28; }
        &-32 { padding-top: $spacing-32; }
        &-36 { padding-top: $spacing-36; }
        &-80 { padding-top: $spacing-80; }
        &-120 { padding-top: $spacing-120; }
        &-160 { padding-top: $spacing-160; }
    }
    
    //PADDING BOTTOM
    .pb-mb-md {
        &-0 { padding-bottom: $spacing-0; }
        &-4 { padding-bottom: $spacing-4; }
        &-8 { padding-bottom: $spacing-8; }
        &-12 { padding-bottom: $spacing-12; }
        &-16 { padding-bottom: $spacing-16; }
        &-24 { padding-bottom: $spacing-24; }
        &-28 { padding-bottom: $spacing-28; }
        &-32 { padding-bottom: $spacing-32; }
        &-36 { padding-bottom: $spacing-36; }
        &-80 { padding-bottom: $spacing-80; }
        &-120 { padding-bottom: $spacing-120; }
        &-160 { padding-bottom: $spacing-160; }
    }

    //PADDING RIGHT
    .pr-mb-md {
        &-0 { padding-right: $spacing-0; }
        &-4 { padding-right: $spacing-4; }
        &-8 { padding-right: $spacing-8; }
        &-12 { padding-right: $spacing-12; }
        &-16 { padding-right: $spacing-16; }
        &-24 { padding-right: $spacing-24; }
        &-28 { padding-right: $spacing-28; }
        &-32 { padding-right: $spacing-32; }
        &-36 { padding-right: $spacing-36; }
        &-80 { padding-right: $spacing-80; }
        &-120 { padding-right: $spacing-120; }
        &-160 { padding-right: $spacing-160; }
    }

    //PADDING LEFT
    .pl-mb-md {
        &-0 { padding-left: $spacing-0; }
        &-4 { padding-left: $spacing-4; }
        &-8 { padding-left: $spacing-8; }
        &-12 { padding-left: $spacing-12; }
        &-16 { padding-left: $spacing-16; }
        &-24 { padding-left: $spacing-24; }
        &-28 { padding-left: $spacing-28; }
        &-32 { padding-left: $spacing-32; }
        &-36 { padding-left: $spacing-36; }
        &-80 { padding-left: $spacing-80; }
        &-120 { padding-left: $spacing-120; }
        &-160 { padding-left: $spacing-160; }
    }

    //PADDING HORIZONTAL
    .px-mb-md {
        &-0 { padding-left: $spacing-0; padding-right: $spacing-0; }
        &-4 { padding-left: $spacing-4; padding-right: $spacing-4; }
        &-8 { padding-left: $spacing-8; padding-right: $spacing-8; }
        &-12 { padding-left: $spacing-12; padding-right: $spacing-12; }
        &-16 { padding-left: $spacing-16; padding-right: $spacing-16; }
        &-24 { padding-left: $spacing-24; padding-right: $spacing-24; }
        &-28 { padding-left: $spacing-28; padding-right: $spacing-28; }
        &-32 { padding-left: $spacing-32; padding-right: $spacing-32; }
        &-36 { padding-left: $spacing-36; padding-right: $spacing-36; }
        &-80 { padding-left: $spacing-80; padding-right: $spacing-80; }
        &-120 { padding-left: $spacing-120; padding-right: $spacing-120; }
        &-160 { padding-left: $spacing-160; padding-right: $spacing-160; }
    }
    
    //PADDING HORIZONTAL
    .py-mb-md {
        &-0 { padding-top: $spacing-0; padding-bottom: $spacing-0; }
        &-4 { padding-top: $spacing-4; padding-bottom: $spacing-4; }
        &-8 { padding-top: $spacing-8; padding-bottom: $spacing-8; }
        &-12 { padding-top: $spacing-12; padding-bottom: $spacing-12; }
        &-16 { padding-top: $spacing-16; padding-bottom: $spacing-16; }
        &-24 { padding-top: $spacing-24; padding-bottom: $spacing-24; }
        &-28 { padding-top: $spacing-28; padding-bottom: $spacing-28; }
        &-32 { padding-top: $spacing-32; padding-bottom: $spacing-32; }
        &-36 { padding-top: $spacing-36; padding-bottom: $spacing-36; }
        &-80 { padding-top: $spacing-80; padding-bottom: $spacing-80; }
        &-120 { padding-top: $spacing-120; padding-bottom: $spacing-120; }
        &-160 { padding-top: $spacing-160; padding-bottom: $spacing-160; }
    }
}


@media (max-width: $mobile-sm) {
    //PADDING ALL
    .p-mb-sm {
        &-0 { padding: $spacing-0; }
        &-4 { padding: $spacing-4; }
        &-8 { padding: $spacing-8; }
        &-12 { padding: $spacing-12; }
        &-16 { padding: $spacing-16; }
        &-24 { padding: $spacing-24; }
        &-28 { padding: $spacing-28; }
        &-32 { padding: $spacing-32; }
        &-36 { padding: $spacing-36; }
        &-80 { padding: $spacing-80; }
        &-120 { padding: $spacing-120; }
        &-160 { padding: $spacing-160; }
    }

    //PADDING TOP
    .pt-mb-sm {
        &-0 { padding-top: $spacing-0; }
        &-4 { padding-top: $spacing-4; }
        &-8 { padding-top: $spacing-8; }
        &-12 { padding-top: $spacing-12; }
        &-16 { padding-top: $spacing-16; }
        &-24 { padding-top: $spacing-24; }
        &-28 { padding-top: $spacing-28; }
        &-32 { padding-top: $spacing-32; }
        &-36 { padding-top: $spacing-36; }
        &-80 { padding-top: $spacing-80; }
        &-120 { padding-top: $spacing-120; }
        &-160 { padding-top: $spacing-160; }
    }
    
    //PADDING BOTTOM
    .pb-mb-sm {
        &-0 { padding-bottom: $spacing-0; }
        &-4 { padding-bottom: $spacing-4; }
        &-8 { padding-bottom: $spacing-8; }
        &-12 { padding-bottom: $spacing-12; }
        &-16 { padding-bottom: $spacing-16; }
        &-24 { padding-bottom: $spacing-24; }
        &-28 { padding-bottom: $spacing-28; }
        &-32 { padding-bottom: $spacing-32; }
        &-36 { padding-bottom: $spacing-36; }
        &-80 { padding-bottom: $spacing-80; }
        &-120 { padding-bottom: $spacing-120; }
        &-160 { padding-bottom: $spacing-160; }
    }

    //PADDING RIGHT
    .pr-mb-sm {
        &-0 { padding-right: $spacing-0; }
        &-4 { padding-right: $spacing-4; }
        &-8 { padding-right: $spacing-8; }
        &-12 { padding-right: $spacing-12; }
        &-16 { padding-right: $spacing-16; }
        &-24 { padding-right: $spacing-24; }
        &-28 { padding-right: $spacing-28; }
        &-32 { padding-right: $spacing-32; }
        &-36 { padding-right: $spacing-36; }
        &-80 { padding-right: $spacing-80; }
        &-120 { padding-right: $spacing-120; }
        &-160 { padding-right: $spacing-160; }
    }

    //PADDING LEFT
    .pl-mb-sm {
        &-0 { padding-left: $spacing-0; }
        &-4 { padding-left: $spacing-4; }
        &-8 { padding-left: $spacing-8; }
        &-12 { padding-left: $spacing-12; }
        &-16 { padding-left: $spacing-16; }
        &-24 { padding-left: $spacing-24; }
        &-28 { padding-left: $spacing-28; }
        &-32 { padding-left: $spacing-32; }
        &-36 { padding-left: $spacing-36; }
        &-80 { padding-left: $spacing-80; }
        &-120 { padding-left: $spacing-120; }
        &-160 { padding-left: $spacing-160; }
    }

    //PADDING HORIZONTAL
    .px-mb-sm {
        &-0 { padding-left: $spacing-0; padding-right: $spacing-0; }
        &-4 { padding-left: $spacing-4; padding-right: $spacing-4; }
        &-8 { padding-left: $spacing-8; padding-right: $spacing-8; }
        &-12 { padding-left: $spacing-12; padding-right: $spacing-12; }
        &-16 { padding-left: $spacing-16; padding-right: $spacing-16; }
        &-24 { padding-left: $spacing-24; padding-right: $spacing-24; }
        &-28 { padding-left: $spacing-28; padding-right: $spacing-28; }
        &-32 { padding-left: $spacing-32; padding-right: $spacing-32; }
        &-36 { padding-left: $spacing-36; padding-right: $spacing-36; }
        &-80 { padding-left: $spacing-80; padding-right: $spacing-80; }
        &-120 { padding-left: $spacing-120; padding-right: $spacing-120; }
        &-160 { padding-left: $spacing-160; padding-right: $spacing-160; }
    }
    
    //PADDING HORIZONTAL
    .py-mb-sm {
        &-0 { padding-top: $spacing-0; padding-bottom: $spacing-0; }
        &-4 { padding-top: $spacing-4; padding-bottom: $spacing-4; }
        &-8 { padding-top: $spacing-8; padding-bottom: $spacing-8; }
        &-12 { padding-top: $spacing-12; padding-bottom: $spacing-12; }
        &-16 { padding-top: $spacing-16; padding-bottom: $spacing-16; }
        &-24 { padding-top: $spacing-24; padding-bottom: $spacing-24; }
        &-28 { padding-top: $spacing-28; padding-bottom: $spacing-28; }
        &-32 { padding-top: $spacing-32; padding-bottom: $spacing-32; }
        &-36 { padding-top: $spacing-36; padding-bottom: $spacing-36; }
        &-80 { padding-top: $spacing-80; padding-bottom: $spacing-80; }
        &-120 { padding-top: $spacing-120; padding-bottom: $spacing-120; }
        &-160 { padding-top: $spacing-160; padding-bottom: $spacing-160; }
    }
}

@media (max-width: $media-575) {
    //PADDING ALL
    .p-media-575 {
        &-0 { padding-top: $spacing-0; }
        &-4 { padding: $spacing-4; }
        &-8 { padding: $spacing-8; }
        &-12 { padding: $spacing-12; }
        &-16 { padding: $spacing-16; }
        &-24 { padding: $spacing-24; }
        &-28 { padding: $spacing-28; }
        &-32 { padding: $spacing-32; }
        &-36 { padding: $spacing-36; }
        &-80 { padding: $spacing-80; }
        &-120 { padding: $spacing-120; }
        &-160 { padding: $spacing-160; }
    }

    //PADDING TOP
    .pt-media-575 {
        &-0 { padding-top: $spacing-0; }
        &-4 { padding-top: $spacing-4; }
        &-8 { padding-top: $spacing-8; }
        &-12 { padding-top: $spacing-12; }
        &-16 { padding-top: $spacing-16; }
        &-24 { padding-top: $spacing-24; }
        &-28 { padding-top: $spacing-28; }
        &-32 { padding-top: $spacing-32; }
        &-36 { padding-top: $spacing-36; }
        &-80 { padding-top: $spacing-80; }
        &-120 { padding-top: $spacing-120; }
        &-160 { padding-top: $spacing-160; }
    }
    
    //PADDING BOTTOM
    .pb-media-575 {
        &-0 { padding-bottom: $spacing-0; }
        &-4 { padding-bottom: $spacing-4; }
        &-8 { padding-bottom: $spacing-8; }
        &-12 { padding-bottom: $spacing-12; }
        &-16 { padding-bottom: $spacing-16; }
        &-24 { padding-bottom: $spacing-24; }
        &-28 { padding-bottom: $spacing-28; }
        &-32 { padding-bottom: $spacing-32; }
        &-36 { padding-bottom: $spacing-36; }
        &-80 { padding-bottom: $spacing-80; }
        &-120 { padding-bottom: $spacing-120; }
        &-160 { padding-bottom: $spacing-160; }
    }

    //PADDING RIGHT
    .pr-media-575 {
        &-0 { padding-right: $spacing-0; }
        &-4 { padding-right: $spacing-4; }
        &-8 { padding-right: $spacing-8; }
        &-12 { padding-right: $spacing-12; }
        &-16 { padding-right: $spacing-16; }
        &-24 { padding-right: $spacing-24; }
        &-28 { padding-right: $spacing-28; }
        &-32 { padding-right: $spacing-32; }
        &-36 { padding-right: $spacing-36; }
        &-80 { padding-right: $spacing-80; }
        &-120 { padding-right: $spacing-120; }
        &-160 { padding-right: $spacing-160; }
    }

    //PADDING LEFT
    .pl-media-575 {
        &-0 { padding-left: $spacing-0; }
        &-4 { padding-left: $spacing-4; }
        &-8 { padding-left: $spacing-8; }
        &-12 { padding-left: $spacing-12; }
        &-16 { padding-left: $spacing-16; }
        &-24 { padding-left: $spacing-24; }
        &-28 { padding-left: $spacing-28; }
        &-32 { padding-left: $spacing-32; }
        &-36 { padding-left: $spacing-36; }
        &-80 { padding-left: $spacing-80; }
        &-120 { padding-left: $spacing-120; }
        &-160 { padding-left: $spacing-160; }
    }

    //PADDING HORIZONTAL
    .px-media-575 {
        &-0 { padding-left: $spacing-0; padding-right: $spacing-0; }
        &-4 { padding-left: $spacing-4; padding-right: $spacing-4; }
        &-8 { padding-left: $spacing-8; padding-right: $spacing-8; }
        &-12 { padding-left: $spacing-12; padding-right: $spacing-12; }
        &-16 { padding-left: $spacing-16; padding-right: $spacing-16; }
        &-24 { padding-left: $spacing-24; padding-right: $spacing-24; }
        &-28 { padding-left: $spacing-28; padding-right: $spacing-28; }
        &-32 { padding-left: $spacing-32; padding-right: $spacing-32; }
        &-36 { padding-left: $spacing-36; padding-right: $spacing-36; }
        &-80 { padding-left: $spacing-80; padding-right: $spacing-80; }
        &-120 { padding-left: $spacing-120; padding-right: $spacing-120; }
        &-160 { padding-left: $spacing-160; padding-right: $spacing-160; }
    }
    
    //PADDING HORIZONTAL
    .py-media-575 {
        &-0 { padding-top: $spacing-0; padding-bottom: $spacing-0; }
        &-4 { padding-top: $spacing-4; padding-bottom: $spacing-4; }
        &-8 { padding-top: $spacing-8; padding-bottom: $spacing-8; }
        &-12 { padding-top: $spacing-12; padding-bottom: $spacing-12; }
        &-16 { padding-top: $spacing-16; padding-bottom: $spacing-16; }
        &-24 { padding-top: $spacing-24; padding-bottom: $spacing-24; }
        &-28 { padding-top: $spacing-28; padding-bottom: $spacing-28; }
        &-32 { padding-top: $spacing-32; padding-bottom: $spacing-32; }
        &-36 { padding-top: $spacing-36; padding-bottom: $spacing-36; }
        &-80 { padding-top: $spacing-80; padding-bottom: $spacing-80; }
        &-120 { padding-top: $spacing-120; padding-bottom: $spacing-120; }
        &-160 { padding-top: $spacing-160; padding-bottom: $spacing-160; }
    }
}
@media (max-width: $media-525) {
    //PADDING ALL
    .p-media-525 {
        &-0 { padding-top: $spacing-0; }
        &-4 { padding: $spacing-4; }
        &-8 { padding: $spacing-8; }
        &-12 { padding: $spacing-12; }
        &-16 { padding: $spacing-16; }
        &-24 { padding: $spacing-24; }
        &-28 { padding: $spacing-28; }
        &-32 { padding: $spacing-32; }
        &-36 { padding: $spacing-36; }
        &-80 { padding: $spacing-80; }
        &-120 { padding: $spacing-120; }
        &-160 { padding: $spacing-160; }
    }

    //PADDING TOP
    .pt-media-525 {
        &-0 { padding-top: $spacing-0; }
        &-4 { padding-top: $spacing-4; }
        &-8 { padding-top: $spacing-8; }
        &-12 { padding-top: $spacing-12; }
        &-16 { padding-top: $spacing-16; }
        &-24 { padding-top: $spacing-24; }
        &-28 { padding-top: $spacing-28; }
        &-32 { padding-top: $spacing-32; }
        &-36 { padding-top: $spacing-36; }
        &-80 { padding-top: $spacing-80; }
        &-120 { padding-top: $spacing-120; }
        &-160 { padding-top: $spacing-160; }
    }
    
    //PADDING BOTTOM
    .pb-media-525 {
        &-0 { padding-bottom: $spacing-0; }
        &-4 { padding-bottom: $spacing-4; }
        &-8 { padding-bottom: $spacing-8; }
        &-12 { padding-bottom: $spacing-12; }
        &-16 { padding-bottom: $spacing-16; }
        &-24 { padding-bottom: $spacing-24; }
        &-28 { padding-bottom: $spacing-28; }
        &-32 { padding-bottom: $spacing-32; }
        &-36 { padding-bottom: $spacing-36; }
        &-80 { padding-bottom: $spacing-80; }
        &-120 { padding-bottom: $spacing-120; }
        &-160 { padding-bottom: $spacing-160; }
    }

    //PADDING RIGHT
    .pr-media-525 {
        &-0 { padding-right: $spacing-0; }
        &-4 { padding-right: $spacing-4; }
        &-8 { padding-right: $spacing-8; }
        &-12 { padding-right: $spacing-12; }
        &-16 { padding-right: $spacing-16; }
        &-24 { padding-right: $spacing-24; }
        &-28 { padding-right: $spacing-28; }
        &-32 { padding-right: $spacing-32; }
        &-36 { padding-right: $spacing-36; }
        &-80 { padding-right: $spacing-80; }
        &-120 { padding-right: $spacing-120; }
        &-160 { padding-right: $spacing-160; }
    }

    //PADDING LEFT
    .pl-media-525 {
        &-0 { padding-left: $spacing-0; }
        &-4 { padding-left: $spacing-4; }
        &-8 { padding-left: $spacing-8; }
        &-12 { padding-left: $spacing-12; }
        &-16 { padding-left: $spacing-16; }
        &-24 { padding-left: $spacing-24; }
        &-28 { padding-left: $spacing-28; }
        &-32 { padding-left: $spacing-32; }
        &-36 { padding-left: $spacing-36; }
        &-80 { padding-left: $spacing-80; }
        &-120 { padding-left: $spacing-120; }
        &-160 { padding-left: $spacing-160; }
    }

    //PADDING HORIZONTAL
    .px-media-525 {
        &-0 { padding-left: $spacing-0; padding-right: $spacing-0; }
        &-4 { padding-left: $spacing-4; padding-right: $spacing-4; }
        &-8 { padding-left: $spacing-8; padding-right: $spacing-8; }
        &-12 { padding-left: $spacing-12; padding-right: $spacing-12; }
        &-16 { padding-left: $spacing-16; padding-right: $spacing-16; }
        &-24 { padding-left: $spacing-24; padding-right: $spacing-24; }
        &-28 { padding-left: $spacing-28; padding-right: $spacing-28; }
        &-32 { padding-left: $spacing-32; padding-right: $spacing-32; }
        &-36 { padding-left: $spacing-36; padding-right: $spacing-36; }
        &-80 { padding-left: $spacing-80; padding-right: $spacing-80; }
        &-120 { padding-left: $spacing-120; padding-right: $spacing-120; }
        &-160 { padding-left: $spacing-160; padding-right: $spacing-160; }
    }
    
    //PADDING HORIZONTAL
    .py-media-525 {
        &-0 { padding-top: $spacing-0; padding-bottom: $spacing-0; }
        &-4 { padding-top: $spacing-4; padding-bottom: $spacing-4; }
        &-8 { padding-top: $spacing-8; padding-bottom: $spacing-8; }
        &-12 { padding-top: $spacing-12; padding-bottom: $spacing-12; }
        &-16 { padding-top: $spacing-16; padding-bottom: $spacing-16; }
        &-24 { padding-top: $spacing-24; padding-bottom: $spacing-24; }
        &-28 { padding-top: $spacing-28; padding-bottom: $spacing-28; }
        &-32 { padding-top: $spacing-32; padding-bottom: $spacing-32; }
        &-36 { padding-top: $spacing-36; padding-bottom: $spacing-36; }
        &-80 { padding-top: $spacing-80; padding-bottom: $spacing-80; }
        &-120 { padding-top: $spacing-120; padding-bottom: $spacing-120; }
        &-160 { padding-top: $spacing-160; padding-bottom: $spacing-160; }
    }
}