@use '../../abstracts/spacing' as *;
@use '../../abstracts//breakpoints' as *;

@media (max-width: $tablet-md) {
    //PADDING ALL
    .p-tb-md {
        &-4 { padding: $spacing-4; }
        &-8 { padding: $spacing-8; }
        &-12 { padding: $spacing-12; }
        &-16 { padding: $spacing-16; }
        &-24 { padding: $spacing-24; }
        &-28 { padding: $spacing-28; }
        &-32 { padding: $spacing-32; }
        &-36 { padding: $spacing-36; }
        &-80 { padding: $spacing-80; }
        &-120 { padding: $spacing-120; }
        &-160 { padding: $spacing-160; }
    }

    //PADDING TOP
    .pt-tb-md {
        &-4 { padding-top: $spacing-4; }
        &-8 { padding-top: $spacing-8; }
        &-12 { padding-top: $spacing-12; }
        &-16 { padding-top: $spacing-16; }
        &-24 { padding-top: $spacing-24; }
        &-28 { padding-top: $spacing-28; }
        &-32 { padding-top: $spacing-32; }
        &-36 { padding-top: $spacing-36; }
        &-80 { padding-top: $spacing-80; }
        &-120 { padding-top: $spacing-120; }
        &-160 { padding-top: $spacing-160; }
    }
    
    //PADDING BOTTOM
    .pb-tb-md {
        &-4 { padding-bottom: $spacing-4; }
        &-8 { padding-bottom: $spacing-8; }
        &-12 { padding-bottom: $spacing-12; }
        &-16 { padding-bottom: $spacing-16; }
        &-24 { padding-bottom: $spacing-24; }
        &-28 { padding-bottom: $spacing-28; }
        &-32 { padding-bottom: $spacing-32; }
        &-36 { padding-bottom: $spacing-36; }
        &-80 { padding-bottom: $spacing-80; }
        &-120 { padding-bottom: $spacing-120; }
        &-160 { padding-bottom: $spacing-160; }
    }

    //PADDING RIGHT
    .pr-tb-md {
        &-4 { padding-right: $spacing-4; }
        &-8 { padding-right: $spacing-8; }
        &-12 { padding-right: $spacing-12; }
        &-16 { padding-right: $spacing-16; }
        &-24 { padding-right: $spacing-24; }
        &-28 { padding-right: $spacing-28; }
        &-32 { padding-right: $spacing-32; }
        &-36 { padding-right: $spacing-36; }
        &-80 { padding-right: $spacing-80; }
        &-120 { padding-right: $spacing-120; }
        &-160 { padding-right: $spacing-160; }
    }

    //PADDING LEFT
    .pl-tb-md {
        &-4 { padding-left: $spacing-4; }
        &-8 { padding-left: $spacing-8; }
        &-12 { padding-left: $spacing-12; }
        &-16 { padding-left: $spacing-16; }
        &-24 { padding-left: $spacing-24; }
        &-28 { padding-left: $spacing-28; }
        &-32 { padding-left: $spacing-32; }
        &-36 { padding-left: $spacing-36; }
        &-80 { padding-left: $spacing-80; }
        &-120 { padding-left: $spacing-120; }
        &-160 { padding-left: $spacing-160; }
    }

    //PADDING HORIZONTAL
    .px-tb-md {
        &-4 { padding-left: $spacing-4; padding-right: $spacing-4; }
        &-8 { padding-left: $spacing-8; padding-right: $spacing-8; }
        &-12 { padding-left: $spacing-12; padding-right: $spacing-12; }
        &-16 { padding-left: $spacing-16; padding-right: $spacing-16; }
        &-24 { padding-left: $spacing-24; padding-right: $spacing-24; }
        &-28 { padding-left: $spacing-28; padding-right: $spacing-28; }
        &-32 { padding-left: $spacing-32; padding-right: $spacing-32; }
        &-36 { padding-left: $spacing-36; padding-right: $spacing-36; }
        &-80 { padding-left: $spacing-80; padding-right: $spacing-80; }
        &-120 { padding-left: $spacing-120; padding-right: $spacing-120; }
        &-160 { padding-left: $spacing-160; padding-right: $spacing-160; }
    }
    
    //PADDING HORIZONTAL
    .py-tb-md {
        &-4 { padding-top: $spacing-4; padding-bottom: $spacing-4; }
        &-8 { padding-top: $spacing-8; padding-bottom: $spacing-8; }
        &-12 { padding-top: $spacing-12; padding-bottom: $spacing-12; }
        &-16 { padding-top: $spacing-16; padding-bottom: $spacing-16; }
        &-24 { padding-top: $spacing-24; padding-bottom: $spacing-24; }
        &-28 { padding-top: $spacing-28; padding-bottom: $spacing-28; }
        &-32 { padding-top: $spacing-32; padding-bottom: $spacing-32; }
        &-36 { padding-top: $spacing-36; padding-bottom: $spacing-36; }
        &-80 { padding-top: $spacing-80; padding-bottom: $spacing-80; }
        &-120 { padding-top: $spacing-120; padding-bottom: $spacing-120; }
        &-160 { padding-top: $spacing-160; padding-bottom: $spacing-160; }
    }
}

@media (max-width: $tablet-sm) {
    //PADDING ALL
    .p-tb-sm {
        &-4 { padding: $spacing-4; }
        &-8 { padding: $spacing-8; }
        &-12 { padding: $spacing-12; }
        &-16 { padding: $spacing-16; }
        &-24 { padding: $spacing-24; }
        &-28 { padding: $spacing-28; }
        &-32 { padding: $spacing-32; }
        &-36 { padding: $spacing-36; }
        &-80 { padding: $spacing-80; }
        &-120 { padding: $spacing-120; }
        &-160 { padding: $spacing-160; }
    }

    //PADDING TOP
    .pt-tb-sm {
        &-4 { padding-top: $spacing-4; }
        &-8 { padding-top: $spacing-8; }
        &-12 { padding-top: $spacing-12; }
        &-16 { padding-top: $spacing-16; }
        &-24 { padding-top: $spacing-24; }
        &-28 { padding-top: $spacing-28; }
        &-32 { padding-top: $spacing-32; }
        &-36 { padding-top: $spacing-36; }
        &-80 { padding-top: $spacing-80; }
        &-120 { padding-top: $spacing-120; }
        &-160 { padding-top: $spacing-160; }
    }
    
    //PADDING BOTTOM
    .pb-tb-sm {
        &-4 { padding-bottom: $spacing-4; }
        &-8 { padding-bottom: $spacing-8; }
        &-12 { padding-bottom: $spacing-12; }
        &-16 { padding-bottom: $spacing-16; }
        &-24 { padding-bottom: $spacing-24; }
        &-28 { padding-bottom: $spacing-28; }
        &-32 { padding-bottom: $spacing-32; }
        &-36 { padding-bottom: $spacing-36; }
        &-80 { padding-bottom: $spacing-80; }
        &-120 { padding-bottom: $spacing-120; }
        &-160 { padding-bottom: $spacing-160; }
    }

    //PADDING RIGHT
    .pr-tb-sm {
        &-4 { padding-right: $spacing-4; }
        &-8 { padding-right: $spacing-8; }
        &-12 { padding-right: $spacing-12; }
        &-16 { padding-right: $spacing-16; }
        &-24 { padding-right: $spacing-24; }
        &-28 { padding-right: $spacing-28; }
        &-32 { padding-right: $spacing-32; }
        &-36 { padding-right: $spacing-36; }
        &-80 { padding-right: $spacing-80; }
        &-120 { padding-right: $spacing-120; }
        &-160 { padding-right: $spacing-160; }
    }

    //PADDING LEFT
    .pl-tb-sm {
        &-4 { padding-left: $spacing-4; }
        &-8 { padding-left: $spacing-8; }
        &-12 { padding-left: $spacing-12; }
        &-16 { padding-left: $spacing-16; }
        &-24 { padding-left: $spacing-24; }
        &-28 { padding-left: $spacing-28; }
        &-32 { padding-left: $spacing-32; }
        &-36 { padding-left: $spacing-36; }
        &-80 { padding-left: $spacing-80; }
        &-120 { padding-left: $spacing-120; }
        &-160 { padding-left: $spacing-160; }
    }

    //PADDING HORIZONTAL
    .px-tb-sm {
        &-4 { padding-left: $spacing-4; padding-right: $spacing-4; }
        &-8 { padding-left: $spacing-8; padding-right: $spacing-8; }
        &-12 { padding-left: $spacing-12; padding-right: $spacing-12; }
        &-16 { padding-left: $spacing-16; padding-right: $spacing-16; }
        &-24 { padding-left: $spacing-24; padding-right: $spacing-24; }
        &-28 { padding-left: $spacing-28; padding-right: $spacing-28; }
        &-32 { padding-left: $spacing-32; padding-right: $spacing-32; }
        &-36 { padding-left: $spacing-36; padding-right: $spacing-36; }
        &-80 { padding-left: $spacing-80; padding-right: $spacing-80; }
        &-120 { padding-left: $spacing-120; padding-right: $spacing-120; }
        &-160 { padding-left: $spacing-160; padding-right: $spacing-160; }
    }
    
    //PADDING HORIZONTAL
    .py-tb-sm {
        &-4 { padding-top: $spacing-4; padding-bottom: $spacing-4; }
        &-8 { padding-top: $spacing-8; padding-bottom: $spacing-8; }
        &-12 { padding-top: $spacing-12; padding-bottom: $spacing-12; }
        &-16 { padding-top: $spacing-16; padding-bottom: $spacing-16; }
        &-24 { padding-top: $spacing-24; padding-bottom: $spacing-24; }
        &-28 { padding-top: $spacing-28; padding-bottom: $spacing-28; }
        &-32 { padding-top: $spacing-32; padding-bottom: $spacing-32; }
        &-36 { padding-top: $spacing-36; padding-bottom: $spacing-36; }
        &-80 { padding-top: $spacing-80; padding-bottom: $spacing-80; }
        &-120 { padding-top: $spacing-120; padding-bottom: $spacing-120; }
        &-160 { padding-top: $spacing-160; padding-bottom: $spacing-160; }
    }
}

@media (max-width: $tablet-xs) {
    //PADDING ALL
    .p-tb-xs {
        &-4 { padding: $spacing-4; }
        &-8 { padding: $spacing-8; }
        &-12 { padding: $spacing-12; }
        &-16 { padding: $spacing-16; }
        &-24 { padding: $spacing-24; }
        &-28 { padding: $spacing-28; }
        &-32 { padding: $spacing-32; }
        &-36 { padding: $spacing-36; }
        &-80 { padding: $spacing-80; }
        &-120 { padding: $spacing-120; }
        &-160 { padding: $spacing-160; }
    }

    //PADDING TOP
    .pt-tb-xs {
        &-4 { padding-top: $spacing-4; }
        &-8 { padding-top: $spacing-8; }
        &-12 { padding-top: $spacing-12; }
        &-16 { padding-top: $spacing-16; }
        &-24 { padding-top: $spacing-24; }
        &-28 { padding-top: $spacing-28; }
        &-32 { padding-top: $spacing-32; }
        &-36 { padding-top: $spacing-36; }
        &-80 { padding-top: $spacing-80; }
        &-120 { padding-top: $spacing-120; }
        &-160 { padding-top: $spacing-160; }
    }
    
    //PADDING BOTTOM
    .pb-tb-xs {
        &-4 { padding-bottom: $spacing-4; }
        &-8 { padding-bottom: $spacing-8; }
        &-12 { padding-bottom: $spacing-12; }
        &-16 { padding-bottom: $spacing-16; }
        &-24 { padding-bottom: $spacing-24; }
        &-28 { padding-bottom: $spacing-28; }
        &-32 { padding-bottom: $spacing-32; }
        &-36 { padding-bottom: $spacing-36; }
        &-80 { padding-bottom: $spacing-80; }
        &-120 { padding-bottom: $spacing-120; }
        &-160 { padding-bottom: $spacing-160; }
    }

    //PADDING RIGHT
    .pr-tb-xs {
        &-4 { padding-right: $spacing-4; }
        &-8 { padding-right: $spacing-8; }
        &-12 { padding-right: $spacing-12; }
        &-16 { padding-right: $spacing-16; }
        &-24 { padding-right: $spacing-24; }
        &-28 { padding-right: $spacing-28; }
        &-32 { padding-right: $spacing-32; }
        &-36 { padding-right: $spacing-36; }
        &-80 { padding-right: $spacing-80; }
        &-120 { padding-right: $spacing-120; }
        &-160 { padding-right: $spacing-160; }
    }

    //PADDING LEFT
    .pl-tb-xs {
        &-4 { padding-left: $spacing-4; }
        &-8 { padding-left: $spacing-8; }
        &-12 { padding-left: $spacing-12; }
        &-16 { padding-left: $spacing-16; }
        &-24 { padding-left: $spacing-24; }
        &-28 { padding-left: $spacing-28; }
        &-32 { padding-left: $spacing-32; }
        &-36 { padding-left: $spacing-36; }
        &-80 { padding-left: $spacing-80; }
        &-120 { padding-left: $spacing-120; }
        &-160 { padding-left: $spacing-160; }
    }

    //PADDING HORIZONTAL
    .px-tb-xs {
        &-4 { padding-left: $spacing-4; padding-right: $spacing-4; }
        &-8 { padding-left: $spacing-8; padding-right: $spacing-8; }
        &-12 { padding-left: $spacing-12; padding-right: $spacing-12; }
        &-16 { padding-left: $spacing-16; padding-right: $spacing-16; }
        &-24 { padding-left: $spacing-24; padding-right: $spacing-24; }
        &-28 { padding-left: $spacing-28; padding-right: $spacing-28; }
        &-32 { padding-left: $spacing-32; padding-right: $spacing-32; }
        &-36 { padding-left: $spacing-36; padding-right: $spacing-36; }
        &-80 { padding-left: $spacing-80; padding-right: $spacing-80; }
        &-120 { padding-left: $spacing-120; padding-right: $spacing-120; }
        &-160 { padding-left: $spacing-160; padding-right: $spacing-160; }
    }
    
    //PADDING HORIZONTAL
    .py-tb-xs {
        &-4 { padding-top: $spacing-4; padding-bottom: $spacing-4; }
        &-8 { padding-top: $spacing-8; padding-bottom: $spacing-8; }
        &-12 { padding-top: $spacing-12; padding-bottom: $spacing-12; }
        &-16 { padding-top: $spacing-16; padding-bottom: $spacing-16; }
        &-24 { padding-top: $spacing-24; padding-bottom: $spacing-24; }
        &-28 { padding-top: $spacing-28; padding-bottom: $spacing-28; }
        &-32 { padding-top: $spacing-32; padding-bottom: $spacing-32; }
        &-36 { padding-top: $spacing-36; padding-bottom: $spacing-36; }
        &-80 { padding-top: $spacing-80; padding-bottom: $spacing-80; }
        &-120 { padding-top: $spacing-120; padding-bottom: $spacing-120; }
        &-160 { padding-top: $spacing-160; padding-bottom: $spacing-160; }
    }
}

@media (max-width: $media-575) {
    //PADDING ALL
    .p-575 {
        &-4 { padding: $spacing-4; }
        &-8 { padding: $spacing-8; }
        &-12 { padding: $spacing-12; }
        &-16 { padding: $spacing-16; }
        &-24 { padding: $spacing-24; }
        &-28 { padding: $spacing-28; }
        &-32 { padding: $spacing-32; }
        &-36 { padding: $spacing-36; }
        &-80 { padding: $spacing-80; }
        &-120 { padding: $spacing-120; }
        &-160 { padding: $spacing-160; }
    }

    //PADDING TOP
    .pt-575 {
        &-4 { padding-top: $spacing-4; }
        &-8 { padding-top: $spacing-8; }
        &-12 { padding-top: $spacing-12; }
        &-16 { padding-top: $spacing-16; }
        &-24 { padding-top: $spacing-24; }
        &-28 { padding-top: $spacing-28; }
        &-32 { padding-top: $spacing-32; }
        &-36 { padding-top: $spacing-36; }
        &-80 { padding-top: $spacing-80; }
        &-120 { padding-top: $spacing-120; }
        &-160 { padding-top: $spacing-160; }
    }
    
    //PADDING BOTTOM
    .pb-575 {
        &-4 { padding-bottom: $spacing-4; }
        &-8 { padding-bottom: $spacing-8; }
        &-12 { padding-bottom: $spacing-12; }
        &-16 { padding-bottom: $spacing-16; }
        &-24 { padding-bottom: $spacing-24; }
        &-28 { padding-bottom: $spacing-28; }
        &-32 { padding-bottom: $spacing-32; }
        &-36 { padding-bottom: $spacing-36; }
        &-80 { padding-bottom: $spacing-80; }
        &-120 { padding-bottom: $spacing-120; }
        &-160 { padding-bottom: $spacing-160; }
    }

    //PADDING RIGHT
    .pr-575 {
        &-4 { padding-right: $spacing-4; }
        &-8 { padding-right: $spacing-8; }
        &-12 { padding-right: $spacing-12; }
        &-16 { padding-right: $spacing-16; }
        &-24 { padding-right: $spacing-24; }
        &-28 { padding-right: $spacing-28; }
        &-32 { padding-right: $spacing-32; }
        &-36 { padding-right: $spacing-36; }
        &-80 { padding-right: $spacing-80; }
        &-120 { padding-right: $spacing-120; }
        &-160 { padding-right: $spacing-160; }
    }

    //PADDING LEFT
    .pl-575 {
        &-4 { padding-left: $spacing-4; }
        &-8 { padding-left: $spacing-8; }
        &-12 { padding-left: $spacing-12; }
        &-16 { padding-left: $spacing-16; }
        &-24 { padding-left: $spacing-24; }
        &-28 { padding-left: $spacing-28; }
        &-32 { padding-left: $spacing-32; }
        &-36 { padding-left: $spacing-36; }
        &-80 { padding-left: $spacing-80; }
        &-120 { padding-left: $spacing-120; }
        &-160 { padding-left: $spacing-160; }
    }

    //PADDING HORIZONTAL
    .px-575 {
        &-4 { padding-left: $spacing-4; padding-right: $spacing-4; }
        &-8 { padding-left: $spacing-8; padding-right: $spacing-8; }
        &-12 { padding-left: $spacing-12; padding-right: $spacing-12; }
        &-16 { padding-left: $spacing-16; padding-right: $spacing-16; }
        &-24 { padding-left: $spacing-24; padding-right: $spacing-24; }
        &-28 { padding-left: $spacing-28; padding-right: $spacing-28; }
        &-32 { padding-left: $spacing-32; padding-right: $spacing-32; }
        &-36 { padding-left: $spacing-36; padding-right: $spacing-36; }
        &-80 { padding-left: $spacing-80; padding-right: $spacing-80; }
        &-120 { padding-left: $spacing-120; padding-right: $spacing-120; }
        &-160 { padding-left: $spacing-160; padding-right: $spacing-160; }
    }
    
    //PADDING HORIZONTAL
    .py-575 {
        &-4 { padding-top: $spacing-4; padding-bottom: $spacing-4; }
        &-8 { padding-top: $spacing-8; padding-bottom: $spacing-8; }
        &-12 { padding-top: $spacing-12; padding-bottom: $spacing-12; }
        &-16 { padding-top: $spacing-16; padding-bottom: $spacing-16; }
        &-24 { padding-top: $spacing-24; padding-bottom: $spacing-24; }
        &-28 { padding-top: $spacing-28; padding-bottom: $spacing-28; }
        &-32 { padding-top: $spacing-32; padding-bottom: $spacing-32; }
        &-36 { padding-top: $spacing-36; padding-bottom: $spacing-36; }
        &-80 { padding-top: $spacing-80; padding-bottom: $spacing-80; }
        &-120 { padding-top: $spacing-120; padding-bottom: $spacing-120; }
        &-160 { padding-top: $spacing-160; padding-bottom: $spacing-160; }
    }
}

@media (max-width: $media-525) {
    //PADDING ALL
    .p-525 {
        &-4 { padding: $spacing-4; }
        &-8 { padding: $spacing-8; }
        &-12 { padding: $spacing-12; }
        &-16 { padding: $spacing-16; }
        &-24 { padding: $spacing-24; }
        &-28 { padding: $spacing-28; }
        &-32 { padding: $spacing-32; }
        &-36 { padding: $spacing-36; }
        &-80 { padding: $spacing-80; }
        &-120 { padding: $spacing-120; }
        &-160 { padding: $spacing-160; }
    }

    //PADDING TOP
    .pt-525 {
        &-4 { padding-top: $spacing-4; }
        &-8 { padding-top: $spacing-8; }
        &-12 { padding-top: $spacing-12; }
        &-16 { padding-top: $spacing-16; }
        &-24 { padding-top: $spacing-24; }
        &-28 { padding-top: $spacing-28; }
        &-32 { padding-top: $spacing-32; }
        &-36 { padding-top: $spacing-36; }
        &-80 { padding-top: $spacing-80; }
        &-120 { padding-top: $spacing-120; }
        &-160 { padding-top: $spacing-160; }
    }
    
    //PADDING BOTTOM
    .pb-525 {
        &-4 { padding-bottom: $spacing-4; }
        &-8 { padding-bottom: $spacing-8; }
        &-12 { padding-bottom: $spacing-12; }
        &-16 { padding-bottom: $spacing-16; }
        &-24 { padding-bottom: $spacing-24; }
        &-28 { padding-bottom: $spacing-28; }
        &-32 { padding-bottom: $spacing-32; }
        &-36 { padding-bottom: $spacing-36; }
        &-80 { padding-bottom: $spacing-80; }
        &-120 { padding-bottom: $spacing-120; }
        &-160 { padding-bottom: $spacing-160; }
    }

    //PADDING RIGHT
    .pr-525 {
        &-4 { padding-right: $spacing-4; }
        &-8 { padding-right: $spacing-8; }
        &-12 { padding-right: $spacing-12; }
        &-16 { padding-right: $spacing-16; }
        &-24 { padding-right: $spacing-24; }
        &-28 { padding-right: $spacing-28; }
        &-32 { padding-right: $spacing-32; }
        &-36 { padding-right: $spacing-36; }
        &-80 { padding-right: $spacing-80; }
        &-120 { padding-right: $spacing-120; }
        &-160 { padding-right: $spacing-160; }
    }

    //PADDING LEFT
    .pl-525 {
        &-4 { padding-left: $spacing-4; }
        &-8 { padding-left: $spacing-8; }
        &-12 { padding-left: $spacing-12; }
        &-16 { padding-left: $spacing-16; }
        &-24 { padding-left: $spacing-24; }
        &-28 { padding-left: $spacing-28; }
        &-32 { padding-left: $spacing-32; }
        &-36 { padding-left: $spacing-36; }
        &-80 { padding-left: $spacing-80; }
        &-120 { padding-left: $spacing-120; }
        &-160 { padding-left: $spacing-160; }
    }

    //PADDING HORIZONTAL
    .px-525 {
        &-4 { padding-left: $spacing-4; padding-right: $spacing-4; }
        &-8 { padding-left: $spacing-8; padding-right: $spacing-8; }
        &-12 { padding-left: $spacing-12; padding-right: $spacing-12; }
        &-16 { padding-left: $spacing-16; padding-right: $spacing-16; }
        &-24 { padding-left: $spacing-24; padding-right: $spacing-24; }
        &-28 { padding-left: $spacing-28; padding-right: $spacing-28; }
        &-32 { padding-left: $spacing-32; padding-right: $spacing-32; }
        &-36 { padding-left: $spacing-36; padding-right: $spacing-36; }
        &-80 { padding-left: $spacing-80; padding-right: $spacing-80; }
        &-120 { padding-left: $spacing-120; padding-right: $spacing-120; }
        &-160 { padding-left: $spacing-160; padding-right: $spacing-160; }
    }
    
    //PADDING HORIZONTAL
    .py-525 {
        &-4 { padding-top: $spacing-4; padding-bottom: $spacing-4; }
        &-8 { padding-top: $spacing-8; padding-bottom: $spacing-8; }
        &-12 { padding-top: $spacing-12; padding-bottom: $spacing-12; }
        &-16 { padding-top: $spacing-16; padding-bottom: $spacing-16; }
        &-24 { padding-top: $spacing-24; padding-bottom: $spacing-24; }
        &-28 { padding-top: $spacing-28; padding-bottom: $spacing-28; }
        &-32 { padding-top: $spacing-32; padding-bottom: $spacing-32; }
        &-36 { padding-top: $spacing-36; padding-bottom: $spacing-36; }
        &-80 { padding-top: $spacing-80; padding-bottom: $spacing-80; }
        &-120 { padding-top: $spacing-120; padding-bottom: $spacing-120; }
        &-160 { padding-top: $spacing-160; padding-bottom: $spacing-160; }
    }
}