@use '../../abstracts/spacing' as *;
@use '../../abstracts//breakpoints' as *;

//margin ALL
.m {
    &-auto { margin : auto; }
    &-0 { margin : 0; }
    &-2 { margin: $spacing-2; }
    &-5 { margin: $spacing-5; }
    &-10 { margin: $spacing-10; }
    &-15 { margin: $spacing-15; }
    &-20 { margin: $spacing-20; }
    &-25 { margin: $spacing-25; }
    &-30 { margin: $spacing-30; }
    &-35 { margin: $spacing-35; }
    &-40 { margin: $spacing-40; }
    &-45 { margin: $spacing-45; }
    &-50 { margin: $spacing-50; }
    &-75 { margin: $spacing-75; }
    &-100 { margin: $spacing-100; }
    &-150 { margin: $spacing-150; }
    &-200 { margin: $spacing-200; }
}

//margin TOP
.mt {
    &-0 { margin-top : 0 !important; }
    &-2 { margin-top: $spacing-2; }
    &-5 { margin-top: $spacing-5; }
    &-10 { margin-top: $spacing-10; }
    &-15 { margin-top: $spacing-15; }
    &-20 { margin-top: $spacing-20; }
    &-24 { margin-top: $spacing-24; }
    &-25 { margin-top: $spacing-25; }
    &-30 { margin-top: $spacing-30; }
    &-35 { margin-top: $spacing-35; }
    &-40 { margin-top: $spacing-40; }
    &-45 { margin-top: $spacing-45; }
    &-50 { margin-top: $spacing-50; }
    &-60 { margin-top: $spacing-60; }
    &-75 { margin-top: $spacing-75; }
    &-100 { margin-top: $spacing-100; }
    &-150 { margin-top: $spacing-150; }
    &-200 { margin-top: $spacing-200; }
}

 //margin BOTTOM
.mb {
    &-auto { margin-bottom: auto; }
    &-0 { margin-bottom : 0; }
    &-1 { margin-bottom: 1px; }
    &-2 { margin-bottom: $spacing-2; }
    &-5 { margin-bottom: $spacing-5; }
    &-10 { margin-bottom: $spacing-10; }
    &-15 { margin-bottom: $spacing-15; }
    &-20 { margin-bottom: $spacing-20; }
    &-24 { margin-bottom: $spacing-24; }
    &-25 { margin-bottom: $spacing-25; }
    &-30 { margin-bottom: $spacing-30; }
    &-35 { margin-bottom: $spacing-35; }
    &-40 { margin-bottom: $spacing-40; }
    &-45 { margin-bottom: $spacing-45; }
    &-50 { margin-bottom: $spacing-50; }
    &-75 { margin-bottom: $spacing-75; }
    &-100 { margin-bottom: $spacing-100; }
    &-150 { margin-bottom: $spacing-150; }
    &-200 { margin-bottom: $spacing-200; }
}

 //margin RIGHT
.mr {
    &-auto { margin-right: auto; }
    &-0 { margin-right : 0; }
    &-2 { margin-right: $spacing-2; }
    &-5 { margin-right: $spacing-5; }
    &-10 { margin-right: $spacing-10; }
    &-15 { margin-right: $spacing-15; }
    &-16 { margin-right: $spacing-16; }
    &-20 { margin-right: $spacing-20; }
    &-25 { margin-right: $spacing-25; }
    &-30 { margin-right: $spacing-30; }
    &-35 { margin-right: $spacing-35; }
    &-40 { margin-right: $spacing-40; }
    &-45 { margin-right: $spacing-45; }
    &-50 { margin-right: $spacing-50; }
    &-75 { margin-right: $spacing-75; }
    &-100 { margin-right: $spacing-100; }
    &-150 { margin-right: $spacing-150; }
    &-200 { margin-right: $spacing-200; }
}

 //margin LEFT
.ml {
    &-0 { margin-left : 0; }
    &-2 { margin-left: $spacing-2; }
    &-5 { margin-left: $spacing-5; }
    &-10 { margin-left: $spacing-10; }
    &-15 { margin-left: $spacing-15; }
    &-20 { margin-left: $spacing-20; }
    &-25 { margin-left: $spacing-25; }
    &-30 { margin-left: $spacing-30; }
    &-35 { margin-left: $spacing-35; }
    &-40 { margin-left: $spacing-40; }
    &-45 { margin-left: $spacing-45; }
    &-50 { margin-left: $spacing-50; }
    &-75 { margin-left: $spacing-75; }
    &-100 { margin-left: $spacing-100; }
    &-150 { margin-left: $spacing-150; }
    &-200 { margin-left: $spacing-200; }
}

 //margin HORIZONTAL
.mx {
    &-auto { margin-right: auto; margin-left: auto; }
    &-0 { margin-right : 0; margin-left: 0; }
    &-2 { margin-right: $spacing-2; margin-left: $spacing-2; }
    &-5 { margin-right: $spacing-5; margin-left: $spacing-5; }
    &-10 { margin-right: $spacing-10; margin-left: $spacing-10; }
    &-15 { margin-right: $spacing-15; margin-left: $spacing-15; }
    &-16 { margin-right: $spacing-16; margin-left: $spacing-16; }
    &-20 { margin-right: $spacing-20; margin-left: $spacing-20; }
    &-25 { margin-right: $spacing-25; margin-left: $spacing-25; }
    &-30 { margin-right: $spacing-30; margin-left: $spacing-30; }
    &-35 { margin-right: $spacing-35; margin-left: $spacing-35; }
    &-40 { margin-right: $spacing-40; margin-left: $spacing-40; }
    &-45 { margin-right: $spacing-45; margin-left: $spacing-45; }
    &-50 { margin-right: $spacing-50; margin-left: $spacing-50; }
    &-75 { margin-right: $spacing-75; margin-left: $spacing-75; }
    &-100 { margin-right: $spacing-100; margin-left: $spacing-100; }
    &-150 { margin-right: $spacing-150; margin-left: $spacing-150; }
    &-200 { margin-right: $spacing-200; margin-left: $spacing-200; }
}
 
 //margin HORIZONTAL
.my {
    &-0 { margin-top : 0; margin-bottom: 0; }
    &-2 { margin-top: $spacing-2; margin-bottom: $spacing-2; }
    &-5 { margin-top: $spacing-5; margin-bottom: $spacing-5; }
    &-10 { margin-top: $spacing-10; margin-bottom: $spacing-10; }
    &-15 { margin-top: $spacing-15; margin-bottom: $spacing-15; }
    &-20 { margin-top: $spacing-20; margin-bottom: $spacing-20; }
    &-25 { margin-top: $spacing-25; margin-bottom: $spacing-25; }
    &-30 { margin-top: $spacing-30; margin-bottom: $spacing-30; }
    &-35 { margin-top: $spacing-35; margin-bottom: $spacing-35; }
    &-40 { margin-top: $spacing-40; margin-bottom: $spacing-40; }
    &-45 { margin-top: $spacing-45; margin-bottom: $spacing-45; }
    &-50 { margin-top: $spacing-50; margin-bottom: $spacing-50; }
    &-75 { margin-top: $spacing-75; margin-bottom: $spacing-75; }
    &-100 { margin-top: $spacing-100; margin-bottom: $spacing-100; }
    &-150 { margin-top: $spacing-150; margin-bottom: $spacing-150; }
    &-200 { margin-top: $spacing-200; margin-bottom: $spacing-200; }
}

@media (max-width: $tablet-xs) {
    //MARGIN ALL
    .m {
        &-tb-xs {
            &-auto { margin-right: auto; margin-left: auto; }
            &-0 { margin-right : 0; margin-left: 0; }
            &-5 { margin-right: $spacing-5; margin-left: $spacing-5; }
            &-10 { margin-right: $spacing-10; margin-left: $spacing-10; }
            &-15 { margin-right: $spacing-15; margin-left: $spacing-15; }
            &-20 { margin-right: $spacing-20; margin-left: $spacing-20; }
            &-25 { margin-right: $spacing-25; margin-left: $spacing-25; }
            &-30 { margin-right: $spacing-30; margin-left: $spacing-30; }
            &-35 { margin-right: $spacing-35; margin-left: $spacing-35; }
            &-40 { margin-right: $spacing-40; margin-left: $spacing-40; }
            &-45 { margin-right: $spacing-45; margin-left: $spacing-45; }
            &-50 { margin-right: $spacing-50; margin-left: $spacing-50; }
            &-75 { margin-right: $spacing-75; margin-left: $spacing-75; }
            &-100 { margin-right: $spacing-100; margin-left: $spacing-100; }
            &-150 { margin-right: $spacing-150; margin-left: $spacing-150; }
            &-200 { margin-right: $spacing-200; margin-left: $spacing-200; }
        }
    }

    .mx {
        &-tb-xs {
            &-auto { margin-right: auto; margin-left: auto; }
            &-0 { margin-right : 0; margin-left: 0; }
            &-5 { margin-right: $spacing-5; margin-left: $spacing-5; }
            &-10 { margin-right: $spacing-10; margin-left: $spacing-10; }
            &-15 { margin-right: $spacing-15; margin-left: $spacing-15; }
            &-20 { margin-right: $spacing-20; margin-left: $spacing-20; }
            &-25 { margin-right: $spacing-25; margin-left: $spacing-25; }
            &-30 { margin-right: $spacing-30; margin-left: $spacing-30; }
            &-35 { margin-right: $spacing-35; margin-left: $spacing-35; }
            &-40 { margin-right: $spacing-40; margin-left: $spacing-40; }
            &-45 { margin-right: $spacing-45; margin-left: $spacing-45; }
            &-50 { margin-right: $spacing-50; margin-left: $spacing-50; }
            &-75 { margin-right: $spacing-75; margin-left: $spacing-75; }
            &-100 { margin-right: $spacing-100; margin-left: $spacing-100; }
            &-150 { margin-right: $spacing-150; margin-left: $spacing-150; }
            &-200 { margin-right: $spacing-200; margin-left: $spacing-200; }
        }
    }

    .my {
        &-tb-xs {
            &-0 { margin-top : 0; margin-bottom: 0; }
            &-5 { margin-top: $spacing-5; margin-bottom: $spacing-5; }
            &-10 { margin-top: $spacing-10; margin-bottom: $spacing-10; }
            &-15 { margin-top: $spacing-15; margin-bottom: $spacing-15; }
            &-20 { margin-top: $spacing-20; margin-bottom: $spacing-20; }
            &-25 { margin-top: $spacing-25; margin-bottom: $spacing-25; }
            &-30 { margin-top: $spacing-30; margin-bottom: $spacing-30; }
            &-35 { margin-top: $spacing-35; margin-bottom: $spacing-35; }
            &-40 { margin-top: $spacing-40; margin-bottom: $spacing-40; }
            &-45 { margin-top: $spacing-45; margin-bottom: $spacing-45; }
            &-50 { margin-top: $spacing-50; margin-bottom: $spacing-50; }
            &-75 { margin-top: $spacing-75; margin-bottom: $spacing-75; }
            &-100 { margin-top: $spacing-100; margin-bottom: $spacing-100; }
            &-150 { margin-top: $spacing-150; margin-bottom: $spacing-150; }
            &-200 { margin-top: $spacing-200; margin-bottom: $spacing-200; }
        }
    }
}