.navWrapper {
    &Fade {
        height: 180px;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6895133053221288) 67%, rgba(228,228,228,0) 100%);
    }
    &Gradient {
        height: 180px;
        background-color: rgba(0,0,0,0.5);
    }
}

.link {
    text-decoration: none;
    transition: border .1s ease-in-out;
    border-bottom: 0 solid red;
    :global(svg) {
        margin-right: 10px;
    }
    &:global(.active) {
        // color: red;
        border-bottom: 4px solid #55C6D7;
    }

    &:hover {
        color: #fff;
        border-bottom: 4px solid #55C6D7;
    }
}