@use '../../abstracts/spacing' as *;
@use '../../abstracts//breakpoints' as *;

@media (max-width: $tablet-md) {
    //PADDING ALL
    .p-tb-md {
        &-0 { padding : 0 !important; }
        &-5 { padding: $spacing-5; }
        &-10 { padding: $spacing-10; }
        &-15 { padding: $spacing-15; }
        &-20 { padding: $spacing-20 !important; }
        &-25 { padding: $spacing-25; }
        &-30 { padding: $spacing-30; }
        &-35 { padding: $spacing-35; }
        &-40 { padding: $spacing-40; }
        &-45 { padding: $spacing-45; }
        &-50 { padding: $spacing-50; }
        &-75 { padding: $spacing-75; }
        &-100 { padding: $spacing-100; }
        &-150 { padding: $spacing-150; }
        &-200 { padding: $spacing-200; }
    }

    //PADDING TOP
    .pt-tb-md {
        &-0 { padding-top : 0; }
        &-5 { padding-top: $spacing-5; }
        &-10 { padding-top: $spacing-10; }
        &-15 { padding-top: $spacing-15; }
        &-20 { padding-top: $spacing-20; }
        &-25 { padding-top: $spacing-25; }
        &-30 { padding-top: $spacing-30; }
        &-35 { padding-top: $spacing-35; }
        &-40 { padding-top: $spacing-40; }
        &-45 { padding-top: $spacing-45; }
        &-50 { padding-top: $spacing-50; }
        &-75 { padding-top: $spacing-75; }
        &-100 { padding-top: $spacing-100; }
        &-150 { padding-top: $spacing-150; }
        &-200 { padding-top: $spacing-200; }
    }

    //PADDING BOTTOM
    .pb-tb-md {
        &-0 { padding-bottom : 0; }
        &-5 { padding-bottom: $spacing-5; }
        &-10 { padding-bottom: $spacing-10; }
        &-15 { padding-bottom: $spacing-15; }
        &-20 { padding-bottom: $spacing-20; }
        &-25 { padding-bottom: $spacing-25; }
        &-30 { padding-bottom: $spacing-30; }
        &-35 { padding-bottom: $spacing-35; }
        &-40 { padding-bottom: $spacing-40; }
        &-45 { padding-bottom: $spacing-45; }
        &-50 { padding-bottom: $spacing-50; }
        &-75 { padding-bottom: $spacing-75; }
        &-100 { padding-bottom: $spacing-100; }
        &-150 { padding-bottom: $spacing-150; }
        &-200 { padding-bottom: $spacing-200; }
    }

    //PADDING RIGHT
    .pr-tb-md {
        &-0 { padding-right : 0; }
        &-5 { padding-right: $spacing-5; }
        &-10 { padding-right: $spacing-10; }
        &-15 { padding-right: $spacing-15; }
        &-20 { padding-right: $spacing-20; }
        &-25 { padding-right: $spacing-25; }
        &-30 { padding-right: $spacing-30; }
        &-35 { padding-right: $spacing-35; }
        &-40 { padding-right: $spacing-40; }
        &-45 { padding-right: $spacing-45; }
        &-50 { padding-right: $spacing-50; }
        &-75 { padding-right: $spacing-75; }
        &-100 { padding-right: $spacing-100; }
        &-150 { padding-right: $spacing-150; }
        &-200 { padding-right: $spacing-200; }
    }

    //PADDING LEFT
    .pl-tb-md {
        &-0 { padding-left : 0; }
        &-5 { padding-left: $spacing-5; }
        &-10 { padding-left: $spacing-10; }
        &-15 { padding-left: $spacing-15; }
        &-20 { padding-left: $spacing-20; }
        &-25 { padding-left: $spacing-25; }
        &-30 { padding-left: $spacing-30; }
        &-35 { padding-left: $spacing-35; }
        &-40 { padding-left: $spacing-40; }
        &-45 { padding-left: $spacing-45; }
        &-50 { padding-left: $spacing-50; }
        &-75 { padding-left: $spacing-75; }
        &-100 { padding-left: $spacing-100; }
        &-150 { padding-left: $spacing-150; }
        &-200 { padding-left: $spacing-200; }
    }

    //PADDING HORIZONTAL
    .px-tb-md {
        &-0 { padding-right : 0; padding-left: 0; }
        &-5 { padding-right: $spacing-5; padding-left: $spacing-5; }
        &-10 { padding-right: $spacing-10; padding-left: $spacing-10; }
        &-15 { padding-right: $spacing-15; padding-left: $spacing-15; }
        &-20 { padding-right: $spacing-20; padding-left: $spacing-20; }
        &-25 { padding-right: $spacing-25; padding-left: $spacing-25; }
        &-30 { padding-right: $spacing-30; padding-left: $spacing-30; }
        &-35 { padding-right: $spacing-35; padding-left: $spacing-35; }
        &-40 { padding-right: $spacing-40; padding-left: $spacing-40; }
        &-45 { padding-right: $spacing-45; padding-left: $spacing-45; }
        &-50 { padding-right: $spacing-50; padding-left: $spacing-50; }
        &-75 { padding-right: $spacing-75; padding-left: $spacing-75; }
        &-100 { padding-right: $spacing-100; padding-left: $spacing-100; }
        &-150 { padding-right: $spacing-150; padding-left: $spacing-150; }
        &-200 { padding-right: $spacing-200; padding-left: $spacing-200; }
    }
    
    //PADDING HORIZONTAL
    .py-tb-md {
        &-0 { padding-top : 0; padding-bottom: 0; }
        &-5 { padding-top: $spacing-5; padding-bottom: $spacing-5; }
        &-10 { padding-top: $spacing-10; padding-bottom: $spacing-10; }
        &-15 { padding-top: $spacing-15; padding-bottom: $spacing-15; }
        &-20 { padding-top: $spacing-20; padding-bottom: $spacing-20; }
        &-25 { padding-top: $spacing-25; padding-bottom: $spacing-25; }
        &-30 { padding-top: $spacing-30; padding-bottom: $spacing-30; }
        &-35 { padding-top: $spacing-35; padding-bottom: $spacing-35; }
        &-40 { padding-top: $spacing-40; padding-bottom: $spacing-40; }
        &-45 { padding-top: $spacing-45; padding-bottom: $spacing-45; }
        &-50 { padding-top: $spacing-50; padding-bottom: $spacing-50; }
        &-75 { padding-top: $spacing-75; padding-bottom: $spacing-75; }
        &-100 { padding-top: $spacing-100; padding-bottom: $spacing-100; }
        &-150 { padding-top: $spacing-150; padding-bottom: $spacing-150; }
        &-200 { padding-top: $spacing-200; padding-bottom: $spacing-200; }
    }
}

@media (max-width: $tablet-sm) {
    //PADDING ALL
    .p-tb-sm {
        &-0 { padding : 0; }
        &-5 { padding: $spacing-5; }
        &-10 { padding: $spacing-10; }
        &-15 { padding: $spacing-15; }
        &-20 { padding: $spacing-20; }
        &-25 { padding: $spacing-25; }
        &-30 { padding: $spacing-30; }
        &-35 { padding: $spacing-35; }
        &-40 { padding: $spacing-40; }
        &-45 { padding: $spacing-45; }
        &-50 { padding: $spacing-50; }
        &-75 { padding: $spacing-75; }
        &-100 { padding: $spacing-100; }
        &-150 { padding: $spacing-150; }
        &-200 { padding: $spacing-200; }
    }

    //PADDING TOP
    .pt-tb-sm {
        &-0 { padding-top : 0; }
        &-5 { padding-top: $spacing-5; }
        &-10 { padding-top: $spacing-10; }
        &-15 { padding-top: $spacing-15; }
        &-20 { padding-top: $spacing-20; }
        &-25 { padding-top: $spacing-25; }
        &-30 { padding-top: $spacing-30; }
        &-35 { padding-top: $spacing-35; }
        &-40 { padding-top: $spacing-40; }
        &-45 { padding-top: $spacing-45; }
        &-50 { padding-top: $spacing-50; }
        &-75 { padding-top: $spacing-75; }
        &-100 { padding-top: $spacing-100; }
        &-150 { padding-top: $spacing-150; }
        &-200 { padding-top: $spacing-200; }
    }

    //PADDING BOTTOM
    .pb-tb-sm {
        &-0 { padding-bottom : 0; }
        &-5 { padding-bottom: $spacing-5; }
        &-10 { padding-bottom: $spacing-10; }
        &-15 { padding-bottom: $spacing-15; }
        &-20 { padding-bottom: $spacing-20; }
        &-25 { padding-bottom: $spacing-25; }
        &-30 { padding-bottom: $spacing-30; }
        &-35 { padding-bottom: $spacing-35; }
        &-40 { padding-bottom: $spacing-40; }
        &-45 { padding-bottom: $spacing-45; }
        &-50 { padding-bottom: $spacing-50; }
        &-75 { padding-bottom: $spacing-75; }
        &-100 { padding-bottom: $spacing-100; }
        &-150 { padding-bottom: $spacing-150; }
        &-200 { padding-bottom: $spacing-200; }
    }

    //PADDING RIGHT
    .pr-tb-sm {
        &-0 { padding-right : 0; }
        &-5 { padding-right: $spacing-5; }
        &-10 { padding-right: $spacing-10; }
        &-15 { padding-right: $spacing-15; }
        &-20 { padding-right: $spacing-20; }
        &-25 { padding-right: $spacing-25; }
        &-30 { padding-right: $spacing-30; }
        &-35 { padding-right: $spacing-35; }
        &-40 { padding-right: $spacing-40; }
        &-45 { padding-right: $spacing-45; }
        &-50 { padding-right: $spacing-50; }
        &-75 { padding-right: $spacing-75; }
        &-100 { padding-right: $spacing-100; }
        &-150 { padding-right: $spacing-150; }
        &-200 { padding-right: $spacing-200; }
    }

    //PADDING LEFT
    .pl-tb-sm {
        &-0 { padding-left : 0; }
        &-5 { padding-left: $spacing-5; }
        &-10 { padding-left: $spacing-10; }
        &-15 { padding-left: $spacing-15; }
        &-20 { padding-left: $spacing-20; }
        &-25 { padding-left: $spacing-25; }
        &-30 { padding-left: $spacing-30; }
        &-35 { padding-left: $spacing-35; }
        &-40 { padding-left: $spacing-40; }
        &-45 { padding-left: $spacing-45; }
        &-50 { padding-left: $spacing-50; }
        &-75 { padding-left: $spacing-75; }
        &-100 { padding-left: $spacing-100; }
        &-150 { padding-left: $spacing-150; }
        &-200 { padding-left: $spacing-200; }
    }

    //PADDING HORIZONTAL
    .px-tb-sm {
        &-0 { padding-right : 0; padding-left: 0; }
        &-5 { padding-right: $spacing-5; padding-left: $spacing-5; }
        &-10 { padding-right: $spacing-10; padding-left: $spacing-10; }
        &-15 { padding-right: $spacing-15; padding-left: $spacing-15; }
        &-20 { padding-right: $spacing-20; padding-left: $spacing-20; }
        &-25 { padding-right: $spacing-25; padding-left: $spacing-25; }
        &-30 { padding-right: $spacing-30; padding-left: $spacing-30; }
        &-35 { padding-right: $spacing-35; padding-left: $spacing-35; }
        &-40 { padding-right: $spacing-40; padding-left: $spacing-40; }
        &-45 { padding-right: $spacing-45; padding-left: $spacing-45; }
        &-50 { padding-right: $spacing-50; padding-left: $spacing-50; }
        &-75 { padding-right: $spacing-75; padding-left: $spacing-75; }
        &-100 { padding-right: $spacing-100; padding-left: $spacing-100; }
        &-150 { padding-right: $spacing-150; padding-left: $spacing-150; }
        &-200 { padding-right: $spacing-200; padding-left: $spacing-200; }
    }
    
    //PADDING HORIZONTAL
    .py-tb-sm {
        &-0 { padding-top : 0; padding-bottom: 0; }
        &-5 { padding-top: $spacing-5; padding-bottom: $spacing-5; }
        &-10 { padding-top: $spacing-10; padding-bottom: $spacing-10; }
        &-15 { padding-top: $spacing-15; padding-bottom: $spacing-15; }
        &-20 { padding-top: $spacing-20; padding-bottom: $spacing-20; }
        &-25 { padding-top: $spacing-25; padding-bottom: $spacing-25; }
        &-30 { padding-top: $spacing-30; padding-bottom: $spacing-30; }
        &-35 { padding-top: $spacing-35; padding-bottom: $spacing-35; }
        &-40 { padding-top: $spacing-40; padding-bottom: $spacing-40; }
        &-45 { padding-top: $spacing-45; padding-bottom: $spacing-45; }
        &-50 { padding-top: $spacing-50; padding-bottom: $spacing-50; }
        &-75 { padding-top: $spacing-75; padding-bottom: $spacing-75; }
        &-100 { padding-top: $spacing-100; padding-bottom: $spacing-100; }
        &-150 { padding-top: $spacing-150; padding-bottom: $spacing-150; }
        &-200 { padding-top: $spacing-200; padding-bottom: $spacing-200; }
    }
}

@media (max-width: $tablet-xs) {
    //PADDING ALL
    .p-tb-xs {
        &-0 { padding : 0; }
        &-5 { padding: $spacing-5; }
        &-10 { padding: $spacing-10; }
        &-15 { padding: $spacing-15; }
        &-20 { padding: $spacing-20; }
        &-25 { padding: $spacing-25; }
        &-30 { padding: $spacing-30; }
        &-35 { padding: $spacing-35; }
        &-40 { padding: $spacing-40; }
        &-45 { padding: $spacing-45; }
        &-50 { padding: $spacing-50; }
        &-75 { padding: $spacing-75; }
        &-100 { padding: $spacing-100; }
        &-150 { padding: $spacing-150; }
        &-200 { padding: $spacing-200; }
    }

    //PADDING TOP
    .pt-tb-xs {
        &-0 { padding-top : 0; }
        &-5 { padding-top: $spacing-5; }
        &-10 { padding-top: $spacing-10; }
        &-15 { padding-top: $spacing-15; }
        &-20 { padding-top: $spacing-20; }
        &-25 { padding-top: $spacing-25; }
        &-30 { padding-top: $spacing-30; }
        &-35 { padding-top: $spacing-35; }
        &-40 { padding-top: $spacing-40; }
        &-45 { padding-top: $spacing-45; }
        &-50 { padding-top: $spacing-50; }
        &-75 { padding-top: $spacing-75; }
        &-100 { padding-top: $spacing-100; }
        &-150 { padding-top: $spacing-150; }
        &-200 { padding-top: $spacing-200; }
    }

    //PADDING BOTTOM
    .pb-tb-xs {
        &-0 { padding-bottom : 0; }
        &-5 { padding-bottom: $spacing-5; }
        &-10 { padding-bottom: $spacing-10; }
        &-15 { padding-bottom: $spacing-15; }
        &-20 { padding-bottom: $spacing-20; }
        &-25 { padding-bottom: $spacing-25; }
        &-30 { padding-bottom: $spacing-30; }
        &-35 { padding-bottom: $spacing-35; }
        &-40 { padding-bottom: $spacing-40; }
        &-45 { padding-bottom: $spacing-45; }
        &-50 { padding-bottom: $spacing-50; }
        &-75 { padding-bottom: $spacing-75; }
        &-100 { padding-bottom: $spacing-100; }
        &-150 { padding-bottom: $spacing-150; }
        &-200 { padding-bottom: $spacing-200; }
    }

    //PADDING RIGHT
    .pr-tb-xs {
        &-0 { padding-right : 0; }
        &-5 { padding-right: $spacing-5; }
        &-10 { padding-right: $spacing-10; }
        &-15 { padding-right: $spacing-15; }
        &-20 { padding-right: $spacing-20; }
        &-25 { padding-right: $spacing-25; }
        &-30 { padding-right: $spacing-30; }
        &-35 { padding-right: $spacing-35; }
        &-40 { padding-right: $spacing-40; }
        &-45 { padding-right: $spacing-45; }
        &-50 { padding-right: $spacing-50; }
        &-75 { padding-right: $spacing-75; }
        &-100 { padding-right: $spacing-100; }
        &-150 { padding-right: $spacing-150; }
        &-200 { padding-right: $spacing-200; }
    }

    //PADDING LEFT
    .pl-tb-xs {
        &-0 { padding-left : 0; }
        &-5 { padding-left: $spacing-5; }
        &-10 { padding-left: $spacing-10; }
        &-15 { padding-left: $spacing-15; }
        &-20 { padding-left: $spacing-20; }
        &-25 { padding-left: $spacing-25; }
        &-30 { padding-left: $spacing-30; }
        &-35 { padding-left: $spacing-35; }
        &-40 { padding-left: $spacing-40; }
        &-45 { padding-left: $spacing-45; }
        &-50 { padding-left: $spacing-50; }
        &-75 { padding-left: $spacing-75; }
        &-100 { padding-left: $spacing-100; }
        &-150 { padding-left: $spacing-150; }
        &-200 { padding-left: $spacing-200; }
    }

    //PADDING HORIZONTAL
    .px-tb-xs {
        &-0 { padding-right : 0; padding-left: 0; }
        &-5 { padding-right: $spacing-5; padding-left: $spacing-5; }
        &-10 { padding-right: $spacing-10; padding-left: $spacing-10; }
        &-15 { padding-right: $spacing-15; padding-left: $spacing-15; }
        &-20 { padding-right: $spacing-20; padding-left: $spacing-20; }
        &-25 { padding-right: $spacing-25; padding-left: $spacing-25; }
        &-30 { padding-right: $spacing-30; padding-left: $spacing-30; }
        &-35 { padding-right: $spacing-35; padding-left: $spacing-35; }
        &-40 { padding-right: $spacing-40; padding-left: $spacing-40; }
        &-45 { padding-right: $spacing-45; padding-left: $spacing-45; }
        &-50 { padding-right: $spacing-50; padding-left: $spacing-50; }
        &-75 { padding-right: $spacing-75; padding-left: $spacing-75; }
        &-100 { padding-right: $spacing-100; padding-left: $spacing-100; }
        &-150 { padding-right: $spacing-150; padding-left: $spacing-150; }
        &-200 { padding-right: $spacing-200; padding-left: $spacing-200; }
    }
    
    //PADDING HORIZONTAL
    .py-tb-xs {
        &-0 { padding-top : 0; padding-bottom: 0; }
        &-5 { padding-top: $spacing-5; padding-bottom: $spacing-5; }
        &-10 { padding-top: $spacing-10; padding-bottom: $spacing-10; }
        &-15 { padding-top: $spacing-15; padding-bottom: $spacing-15; }
        &-20 { padding-top: $spacing-20; padding-bottom: $spacing-20; }
        &-25 { padding-top: $spacing-25; padding-bottom: $spacing-25; }
        &-30 { padding-top: $spacing-30; padding-bottom: $spacing-30; }
        &-35 { padding-top: $spacing-35; padding-bottom: $spacing-35; }
        &-40 { padding-top: $spacing-40; padding-bottom: $spacing-40; }
        &-45 { padding-top: $spacing-45; padding-bottom: $spacing-45; }
        &-50 { padding-top: $spacing-50; padding-bottom: $spacing-50; }
        &-75 { padding-top: $spacing-75; padding-bottom: $spacing-75; }
        &-100 { padding-top: $spacing-100; padding-bottom: $spacing-100; }
        &-150 { padding-top: $spacing-150; padding-bottom: $spacing-150; }
        &-200 { padding-top: $spacing-200; padding-bottom: $spacing-200; }
    }
}

@media (max-width: $media-575) {
    //PADDING ALL
    .p-575 {
        &-0 { padding : 0; }
        &-5 { padding: $spacing-5; }
        &-10 { padding: $spacing-10; }
        &-15 { padding: $spacing-15; }
        &-20 { padding: $spacing-20; }
        &-25 { padding: $spacing-25; }
        &-30 { padding: $spacing-30; }
        &-35 { padding: $spacing-35; }
        &-40 { padding: $spacing-40; }
        &-45 { padding: $spacing-45; }
        &-50 { padding: $spacing-50; }
        &-75 { padding: $spacing-75; }
        &-100 { padding: $spacing-100; }
        &-150 { padding: $spacing-150; }
        &-200 { padding: $spacing-200; }
    }

    //PADDING TOP
    .pt-575 {
        &-0 { padding-top : 0; }
        &-5 { padding-top: $spacing-5; }
        &-10 { padding-top: $spacing-10; }
        &-15 { padding-top: $spacing-15; }
        &-20 { padding-top: $spacing-20; }
        &-25 { padding-top: $spacing-25; }
        &-30 { padding-top: $spacing-30; }
        &-35 { padding-top: $spacing-35; }
        &-40 { padding-top: $spacing-40; }
        &-45 { padding-top: $spacing-45; }
        &-50 { padding-top: $spacing-50; }
        &-75 { padding-top: $spacing-75; }
        &-100 { padding-top: $spacing-100; }
        &-150 { padding-top: $spacing-150; }
        &-200 { padding-top: $spacing-200; }
    }

    //PADDING BOTTOM
    .pb-575 {
        &-0 { padding-bottom : 0; }
        &-5 { padding-bottom: $spacing-5; }
        &-10 { padding-bottom: $spacing-10; }
        &-15 { padding-bottom: $spacing-15; }
        &-20 { padding-bottom: $spacing-20; }
        &-25 { padding-bottom: $spacing-25; }
        &-30 { padding-bottom: $spacing-30; }
        &-35 { padding-bottom: $spacing-35; }
        &-40 { padding-bottom: $spacing-40; }
        &-45 { padding-bottom: $spacing-45; }
        &-50 { padding-bottom: $spacing-50; }
        &-75 { padding-bottom: $spacing-75; }
        &-100 { padding-bottom: $spacing-100; }
        &-150 { padding-bottom: $spacing-150; }
        &-200 { padding-bottom: $spacing-200; }
    }

    //PADDING RIGHT
    .pr-575 {
        &-0 { padding-right : 0; }
        &-5 { padding-right: $spacing-5; }
        &-10 { padding-right: $spacing-10; }
        &-15 { padding-right: $spacing-15; }
        &-20 { padding-right: $spacing-20; }
        &-25 { padding-right: $spacing-25; }
        &-30 { padding-right: $spacing-30; }
        &-35 { padding-right: $spacing-35; }
        &-40 { padding-right: $spacing-40; }
        &-45 { padding-right: $spacing-45; }
        &-50 { padding-right: $spacing-50; }
        &-75 { padding-right: $spacing-75; }
        &-100 { padding-right: $spacing-100; }
        &-150 { padding-right: $spacing-150; }
        &-200 { padding-right: $spacing-200; }
    }

    //PADDING LEFT
    .pl-575 {
        &-0 { padding-left : 0; }
        &-5 { padding-left: $spacing-5; }
        &-10 { padding-left: $spacing-10; }
        &-15 { padding-left: $spacing-15; }
        &-20 { padding-left: $spacing-20; }
        &-25 { padding-left: $spacing-25; }
        &-30 { padding-left: $spacing-30; }
        &-35 { padding-left: $spacing-35; }
        &-40 { padding-left: $spacing-40; }
        &-45 { padding-left: $spacing-45; }
        &-50 { padding-left: $spacing-50; }
        &-75 { padding-left: $spacing-75; }
        &-100 { padding-left: $spacing-100; }
        &-150 { padding-left: $spacing-150; }
        &-200 { padding-left: $spacing-200; }
    }

    //PADDING HORIZONTAL
    .px-575 {
        &-0 { padding-right : 0; padding-left: 0; }
        &-5 { padding-right: $spacing-5; padding-left: $spacing-5; }
        &-10 { padding-right: $spacing-10; padding-left: $spacing-10; }
        &-15 { padding-right: $spacing-15; padding-left: $spacing-15; }
        &-20 { padding-right: $spacing-20; padding-left: $spacing-20; }
        &-25 { padding-right: $spacing-25; padding-left: $spacing-25; }
        &-30 { padding-right: $spacing-30; padding-left: $spacing-30; }
        &-35 { padding-right: $spacing-35; padding-left: $spacing-35; }
        &-40 { padding-right: $spacing-40; padding-left: $spacing-40; }
        &-45 { padding-right: $spacing-45; padding-left: $spacing-45; }
        &-50 { padding-right: $spacing-50; padding-left: $spacing-50; }
        &-75 { padding-right: $spacing-75; padding-left: $spacing-75; }
        &-100 { padding-right: $spacing-100; padding-left: $spacing-100; }
        &-150 { padding-right: $spacing-150; padding-left: $spacing-150; }
        &-200 { padding-right: $spacing-200; padding-left: $spacing-200; }
    }
    
    //PADDING HORIZONTAL
    .py-575 {
        &-0 { padding-top : 0; padding-bottom: 0; }
        &-5 { padding-top: $spacing-5; padding-bottom: $spacing-5; }
        &-10 { padding-top: $spacing-10; padding-bottom: $spacing-10; }
        &-15 { padding-top: $spacing-15; padding-bottom: $spacing-15; }
        &-20 { padding-top: $spacing-20; padding-bottom: $spacing-20; }
        &-25 { padding-top: $spacing-25; padding-bottom: $spacing-25; }
        &-30 { padding-top: $spacing-30; padding-bottom: $spacing-30; }
        &-35 { padding-top: $spacing-35; padding-bottom: $spacing-35; }
        &-40 { padding-top: $spacing-40; padding-bottom: $spacing-40; }
        &-45 { padding-top: $spacing-45; padding-bottom: $spacing-45; }
        &-50 { padding-top: $spacing-50; padding-bottom: $spacing-50; }
        &-75 { padding-top: $spacing-75; padding-bottom: $spacing-75; }
        &-100 { padding-top: $spacing-100; padding-bottom: $spacing-100; }
        &-150 { padding-top: $spacing-150; padding-bottom: $spacing-150; }
        &-200 { padding-top: $spacing-200; padding-bottom: $spacing-200; }
    }
}

@media (max-width: $media-525) {
    //PADDING ALL
    .p-525 {
        &-0 { padding : 0; }
        &-5 { padding: $spacing-5; }
        &-10 { padding: $spacing-10; }
        &-15 { padding: $spacing-15; }
        &-20 { padding: $spacing-20; }
        &-25 { padding: $spacing-25; }
        &-30 { padding: $spacing-30; }
        &-35 { padding: $spacing-35; }
        &-40 { padding: $spacing-40; }
        &-45 { padding: $spacing-45; }
        &-50 { padding: $spacing-50; }
        &-75 { padding: $spacing-75; }
        &-100 { padding: $spacing-100; }
        &-150 { padding: $spacing-150; }
        &-200 { padding: $spacing-200; }
    }

    //PADDING TOP
    .pt-525 {
        &-0 { padding-top : 0; }
        &-5 { padding-top: $spacing-5; }
        &-10 { padding-top: $spacing-10; }
        &-15 { padding-top: $spacing-15; }
        &-20 { padding-top: $spacing-20; }
        &-25 { padding-top: $spacing-25; }
        &-30 { padding-top: $spacing-30; }
        &-35 { padding-top: $spacing-35; }
        &-40 { padding-top: $spacing-40; }
        &-45 { padding-top: $spacing-45; }
        &-50 { padding-top: $spacing-50; }
        &-75 { padding-top: $spacing-75; }
        &-100 { padding-top: $spacing-100; }
        &-150 { padding-top: $spacing-150; }
        &-200 { padding-top: $spacing-200; }
    }

    //PADDING BOTTOM
    .pb-525 {
        &-0 { padding-bottom : 0; }
        &-5 { padding-bottom: $spacing-5; }
        &-10 { padding-bottom: $spacing-10; }
        &-15 { padding-bottom: $spacing-15; }
        &-20 { padding-bottom: $spacing-20; }
        &-25 { padding-bottom: $spacing-25; }
        &-30 { padding-bottom: $spacing-30; }
        &-35 { padding-bottom: $spacing-35; }
        &-40 { padding-bottom: $spacing-40; }
        &-45 { padding-bottom: $spacing-45; }
        &-50 { padding-bottom: $spacing-50; }
        &-75 { padding-bottom: $spacing-75; }
        &-100 { padding-bottom: $spacing-100; }
        &-150 { padding-bottom: $spacing-150; }
        &-200 { padding-bottom: $spacing-200; }
    }

    //PADDING RIGHT
    .pr-525 {
        &-0 { padding-right : 0; }
        &-5 { padding-right: $spacing-5; }
        &-10 { padding-right: $spacing-10; }
        &-15 { padding-right: $spacing-15; }
        &-20 { padding-right: $spacing-20; }
        &-25 { padding-right: $spacing-25; }
        &-30 { padding-right: $spacing-30; }
        &-35 { padding-right: $spacing-35; }
        &-40 { padding-right: $spacing-40; }
        &-45 { padding-right: $spacing-45; }
        &-50 { padding-right: $spacing-50; }
        &-75 { padding-right: $spacing-75; }
        &-100 { padding-right: $spacing-100; }
        &-150 { padding-right: $spacing-150; }
        &-200 { padding-right: $spacing-200; }
    }

    //PADDING LEFT
    .pl-525 {
        &-0 { padding-left : 0; }
        &-5 { padding-left: $spacing-5; }
        &-10 { padding-left: $spacing-10; }
        &-15 { padding-left: $spacing-15; }
        &-20 { padding-left: $spacing-20; }
        &-25 { padding-left: $spacing-25; }
        &-30 { padding-left: $spacing-30; }
        &-35 { padding-left: $spacing-35; }
        &-40 { padding-left: $spacing-40; }
        &-45 { padding-left: $spacing-45; }
        &-50 { padding-left: $spacing-50; }
        &-75 { padding-left: $spacing-75; }
        &-100 { padding-left: $spacing-100; }
        &-150 { padding-left: $spacing-150; }
        &-200 { padding-left: $spacing-200; }
    }

    //PADDING HORIZONTAL
    .px-525 {
        &-0 { padding-right : 0; padding-left: 0; }
        &-5 { padding-right: $spacing-5; padding-left: $spacing-5; }
        &-10 { padding-right: $spacing-10; padding-left: $spacing-10; }
        &-15 { padding-right: $spacing-15; padding-left: $spacing-15; }
        &-20 { padding-right: $spacing-20; padding-left: $spacing-20; }
        &-25 { padding-right: $spacing-25; padding-left: $spacing-25; }
        &-30 { padding-right: $spacing-30; padding-left: $spacing-30; }
        &-35 { padding-right: $spacing-35; padding-left: $spacing-35; }
        &-40 { padding-right: $spacing-40; padding-left: $spacing-40; }
        &-45 { padding-right: $spacing-45; padding-left: $spacing-45; }
        &-50 { padding-right: $spacing-50; padding-left: $spacing-50; }
        &-75 { padding-right: $spacing-75; padding-left: $spacing-75; }
        &-100 { padding-right: $spacing-100; padding-left: $spacing-100; }
        &-150 { padding-right: $spacing-150; padding-left: $spacing-150; }
        &-200 { padding-right: $spacing-200; padding-left: $spacing-200; }
    }
    
    //PADDING HORIZONTAL
    .py-525 {
        &-0 { padding-top : 0; padding-bottom: 0; }
        &-5 { padding-top: $spacing-5; padding-bottom: $spacing-5; }
        &-10 { padding-top: $spacing-10; padding-bottom: $spacing-10; }
        &-15 { padding-top: $spacing-15; padding-bottom: $spacing-15; }
        &-20 { padding-top: $spacing-20; padding-bottom: $spacing-20; }
        &-25 { padding-top: $spacing-25; padding-bottom: $spacing-25; }
        &-30 { padding-top: $spacing-30; padding-bottom: $spacing-30; }
        &-35 { padding-top: $spacing-35; padding-bottom: $spacing-35; }
        &-40 { padding-top: $spacing-40; padding-bottom: $spacing-40; }
        &-45 { padding-top: $spacing-45; padding-bottom: $spacing-45; }
        &-50 { padding-top: $spacing-50; padding-bottom: $spacing-50; }
        &-75 { padding-top: $spacing-75; padding-bottom: $spacing-75; }
        &-100 { padding-top: $spacing-100; padding-bottom: $spacing-100; }
        &-150 { padding-top: $spacing-150; padding-bottom: $spacing-150; }
        &-200 { padding-top: $spacing-200; padding-bottom: $spacing-200; }
    }
}