@use '../../abstracts/spacing' as *;
@use '../../abstracts//breakpoints' as *;

@media (max-width: $desktop-4k) {
    //PADDING ALL
    .p-dt-4k {
        &-0 { padding : 0; }
        &-5 { padding: $spacing-5; }
        &-10 { padding: $spacing-10; }
        &-15 { padding: $spacing-15; }
        &-20 { padding: $spacing-20; }
        &-25 { padding: $spacing-25; }
        &-30 { padding: $spacing-30; }
        &-35 { padding: $spacing-35; }
        &-40 { padding: $spacing-40; }
        &-45 { padding: $spacing-45; }
        &-50 { padding: $spacing-50; }
        &-75 { padding: $spacing-75; }
        &-100 { padding: $spacing-100; }
        &-150 { padding: $spacing-150; }
        &-200 { padding: $spacing-200; }
    }

    //PADDING TOP
    .pt-dt-4k {
        &-0 { padding-top : 0; }
        &-5 { padding-top: $spacing-5; }
        &-10 { padding-top: $spacing-10; }
        &-15 { padding-top: $spacing-15; }
        &-20 { padding-top: $spacing-20; }
        &-25 { padding-top: $spacing-25; }
        &-30 { padding-top: $spacing-30; }
        &-35 { padding-top: $spacing-35; }
        &-40 { padding-top: $spacing-40; }
        &-45 { padding-top: $spacing-45; }
        &-50 { padding-top: $spacing-50; }
        &-75 { padding-top: $spacing-75; }
        &-100 { padding-top: $spacing-100; }
        &-150 { padding-top: $spacing-150; }
        &-200 { padding-top: $spacing-200; }
    }

    //PADDING BOTTOM
    .pb-dt-4k {
        &-0 { padding-bottom : 0; }
        &-5 { padding-bottom: $spacing-5; }
        &-10 { padding-bottom: $spacing-10; }
        &-15 { padding-bottom: $spacing-15; }
        &-20 { padding-bottom: $spacing-20; }
        &-25 { padding-bottom: $spacing-25; }
        &-30 { padding-bottom: $spacing-30; }
        &-35 { padding-bottom: $spacing-35; }
        &-40 { padding-bottom: $spacing-40; }
        &-45 { padding-bottom: $spacing-45; }
        &-50 { padding-bottom: $spacing-50; }
        &-75 { padding-bottom: $spacing-75; }
        &-100 { padding-bottom: $spacing-100; }
        &-150 { padding-bottom: $spacing-150; }
        &-200 { padding-bottom: $spacing-200; }
    }

    //PADDING RIGHT
    .pr-dt-4k {
        &-0 { padding-right : 0; }
        &-5 { padding-right: $spacing-5; }
        &-10 { padding-right: $spacing-10; }
        &-15 { padding-right: $spacing-15; }
        &-20 { padding-right: $spacing-20; }
        &-25 { padding-right: $spacing-25; }
        &-30 { padding-right: $spacing-30; }
        &-35 { padding-right: $spacing-35; }
        &-40 { padding-right: $spacing-40; }
        &-45 { padding-right: $spacing-45; }
        &-50 { padding-right: $spacing-50; }
        &-75 { padding-right: $spacing-75; }
        &-100 { padding-right: $spacing-100; }
        &-150 { padding-right: $spacing-150; }
        &-200 { padding-right: $spacing-200; }
    }

    //PADDING LEFT
    .pl-dt-4k {
        &-0 { padding-left : 0; }
        &-5 { padding-left: $spacing-5; }
        &-10 { padding-left: $spacing-10; }
        &-15 { padding-left: $spacing-15; }
        &-20 { padding-left: $spacing-20; }
        &-25 { padding-left: $spacing-25; }
        &-30 { padding-left: $spacing-30; }
        &-35 { padding-left: $spacing-35; }
        &-40 { padding-left: $spacing-40; }
        &-45 { padding-left: $spacing-45; }
        &-50 { padding-left: $spacing-50; }
        &-75 { padding-left: $spacing-75; }
        &-100 { padding-left: $spacing-100; }
        &-150 { padding-left: $spacing-150; }
        &-200 { padding-left: $spacing-200; }
    }

    //PADDING HORIZONTAL
    .px-dt-4k {
        &-0 { padding-right : 0; padding-left: 0; }
        &-5 { padding-right: $spacing-5; padding-left: $spacing-5; }
        &-10 { padding-right: $spacing-10; padding-left: $spacing-10; }
        &-15 { padding-right: $spacing-15; padding-left: $spacing-15; }
        &-20 { padding-right: $spacing-20; padding-left: $spacing-20; }
        &-25 { padding-right: $spacing-25; padding-left: $spacing-25; }
        &-30 { padding-right: $spacing-30; padding-left: $spacing-30; }
        &-35 { padding-right: $spacing-35; padding-left: $spacing-35; }
        &-40 { padding-right: $spacing-40; padding-left: $spacing-40; }
        &-45 { padding-right: $spacing-45; padding-left: $spacing-45; }
        &-50 { padding-right: $spacing-50; padding-left: $spacing-50; }
        &-75 { padding-right: $spacing-75; padding-left: $spacing-75; }
        &-100 { padding-right: $spacing-100; padding-left: $spacing-100; }
        &-150 { padding-right: $spacing-150; padding-left: $spacing-150; }
        &-200 { padding-right: $spacing-200; padding-left: $spacing-200; }
    }
    
    //PADDING HORIZONTAL
    .py-dt-4k {
        &-0 { padding-top : 0; padding-bottom: 0; }
        &-5 { padding-top: $spacing-5; padding-bottom: $spacing-5; }
        &-10 { padding-top: $spacing-10; padding-bottom: $spacing-10; }
        &-15 { padding-top: $spacing-15; padding-bottom: $spacing-15; }
        &-20 { padding-top: $spacing-20; padding-bottom: $spacing-20; }
        &-25 { padding-top: $spacing-25; padding-bottom: $spacing-25; }
        &-30 { padding-top: $spacing-30; padding-bottom: $spacing-30; }
        &-35 { padding-top: $spacing-35; padding-bottom: $spacing-35; }
        &-40 { padding-top: $spacing-40; padding-bottom: $spacing-40; }
        &-45 { padding-top: $spacing-45; padding-bottom: $spacing-45; }
        &-50 { padding-top: $spacing-50; padding-bottom: $spacing-50; }
        &-75 { padding-top: $spacing-75; padding-bottom: $spacing-75; }
        &-100 { padding-top: $spacing-100; padding-bottom: $spacing-100; }
        &-150 { padding-top: $spacing-150; padding-bottom: $spacing-150; }
        &-200 { padding-top: $spacing-200; padding-bottom: $spacing-200; }
    }
}

@media (max-width: $desktop-md) {
    //PADDING ALL
    .p-dt-md {
        &-0 { padding : 0; }
        &-5 { padding: $spacing-5; }
        &-10 { padding: $spacing-10; }
        &-15 { padding: $spacing-15; }
        &-20 { padding: $spacing-20; }
        &-25 { padding: $spacing-25; }
        &-30 { padding: $spacing-30; }
        &-35 { padding: $spacing-35; }
        &-40 { padding: $spacing-40; }
        &-45 { padding: $spacing-45; }
        &-50 { padding: $spacing-50; }
        &-75 { padding: $spacing-75; }
        &-100 { padding: $spacing-100; }
        &-150 { padding: $spacing-150; }
        &-200 { padding: $spacing-200; }
    }

    //PADDING TOP
    .pt-dt-md {
        &-0 { padding-top : 0; }
        &-5 { padding-top: $spacing-5; }
        &-10 { padding-top: $spacing-10; }
        &-15 { padding-top: $spacing-15; }
        &-20 { padding-top: $spacing-20; }
        &-25 { padding-top: $spacing-25; }
        &-30 { padding-top: $spacing-30; }
        &-35 { padding-top: $spacing-35; }
        &-40 { padding-top: $spacing-40; }
        &-45 { padding-top: $spacing-45; }
        &-50 { padding-top: $spacing-50; }
        &-75 { padding-top: $spacing-75; }
        &-100 { padding-top: $spacing-100; }
        &-150 { padding-top: $spacing-150; }
        &-200 { padding-top: $spacing-200; }
    }

    //PADDING BOTTOM
    .pb-dt-md {
        &-0 { padding-bottom : 0; }
        &-5 { padding-bottom: $spacing-5; }
        &-10 { padding-bottom: $spacing-10; }
        &-15 { padding-bottom: $spacing-15; }
        &-20 { padding-bottom: $spacing-20; }
        &-25 { padding-bottom: $spacing-25; }
        &-30 { padding-bottom: $spacing-30; }
        &-35 { padding-bottom: $spacing-35; }
        &-40 { padding-bottom: $spacing-40; }
        &-45 { padding-bottom: $spacing-45; }
        &-50 { padding-bottom: $spacing-50; }
        &-75 { padding-bottom: $spacing-75; }
        &-100 { padding-bottom: $spacing-100; }
        &-150 { padding-bottom: $spacing-150; }
        &-200 { padding-bottom: $spacing-200; }
    }

    //PADDING RIGHT
    .pr-dt-md {
        &-0 { padding-right : 0; }
        &-5 { padding-right: $spacing-5; }
        &-10 { padding-right: $spacing-10; }
        &-15 { padding-right: $spacing-15; }
        &-20 { padding-right: $spacing-20; }
        &-25 { padding-right: $spacing-25; }
        &-30 { padding-right: $spacing-30; }
        &-35 { padding-right: $spacing-35; }
        &-40 { padding-right: $spacing-40; }
        &-45 { padding-right: $spacing-45; }
        &-50 { padding-right: $spacing-50; }
        &-75 { padding-right: $spacing-75; }
        &-100 { padding-right: $spacing-100; }
        &-150 { padding-right: $spacing-150; }
        &-200 { padding-right: $spacing-200; }
    }

    //PADDING LEFT
    .pl-dt-md {
        &-0 { padding-left : 0; }
        &-5 { padding-left: $spacing-5; }
        &-10 { padding-left: $spacing-10; }
        &-15 { padding-left: $spacing-15; }
        &-20 { padding-left: $spacing-20; }
        &-25 { padding-left: $spacing-25; }
        &-30 { padding-left: $spacing-30; }
        &-35 { padding-left: $spacing-35; }
        &-40 { padding-left: $spacing-40; }
        &-45 { padding-left: $spacing-45; }
        &-50 { padding-left: $spacing-50; }
        &-75 { padding-left: $spacing-75; }
        &-100 { padding-left: $spacing-100; }
        &-150 { padding-left: $spacing-150; }
        &-200 { padding-left: $spacing-200; }
    }

    //PADDING HORIZONTAL
    .px-dt-md {
        &-0 { padding-right : 0; padding-left: 0; }
        &-5 { padding-right: $spacing-5; padding-left: $spacing-5; }
        &-10 { padding-right: $spacing-10; padding-left: $spacing-10; }
        &-15 { padding-right: $spacing-15; padding-left: $spacing-15; }
        &-20 { padding-right: $spacing-20; padding-left: $spacing-20; }
        &-25 { padding-right: $spacing-25; padding-left: $spacing-25; }
        &-30 { padding-right: $spacing-30; padding-left: $spacing-30; }
        &-35 { padding-right: $spacing-35; padding-left: $spacing-35; }
        &-40 { padding-right: $spacing-40; padding-left: $spacing-40; }
        &-45 { padding-right: $spacing-45; padding-left: $spacing-45; }
        &-50 { padding-right: $spacing-50; padding-left: $spacing-50; }
        &-75 { padding-right: $spacing-75; padding-left: $spacing-75; }
        &-100 { padding-right: $spacing-100; padding-left: $spacing-100; }
        &-150 { padding-right: $spacing-150; padding-left: $spacing-150; }
        &-200 { padding-right: $spacing-200; padding-left: $spacing-200; }
    }
    
    //PADDING HORIZONTAL
    .py-dt-md {
        &-0 { padding-top : 0; padding-bottom: 0; }
        &-5 { padding-top: $spacing-5; padding-bottom: $spacing-5; }
        &-10 { padding-top: $spacing-10; padding-bottom: $spacing-10; }
        &-15 { padding-top: $spacing-15; padding-bottom: $spacing-15; }
        &-20 { padding-top: $spacing-20; padding-bottom: $spacing-20; }
        &-25 { padding-top: $spacing-25; padding-bottom: $spacing-25; }
        &-30 { padding-top: $spacing-30; padding-bottom: $spacing-30; }
        &-35 { padding-top: $spacing-35; padding-bottom: $spacing-35; }
        &-40 { padding-top: $spacing-40; padding-bottom: $spacing-40; }
        &-45 { padding-top: $spacing-45; padding-bottom: $spacing-45; }
        &-50 { padding-top: $spacing-50; padding-bottom: $spacing-50; }
        &-75 { padding-top: $spacing-75; padding-bottom: $spacing-75; }
        &-100 { padding-top: $spacing-100; padding-bottom: $spacing-100; }
        &-150 { padding-top: $spacing-150; padding-bottom: $spacing-150; }
        &-200 { padding-top: $spacing-200; padding-bottom: $spacing-200; }
    }
}

@media (max-width: $desktop-sm) {
    //PADDING ALL
    .p-dt-sm {
        &-0 { padding : 0; }
        &-5 { padding: $spacing-5; }
        &-10 { padding: $spacing-10; }
        &-15 { padding: $spacing-15; }
        &-20 { padding: $spacing-20; }
        &-25 { padding: $spacing-25; }
        &-30 { padding: $spacing-30; }
        &-35 { padding: $spacing-35; }
        &-40 { padding: $spacing-40; }
        &-45 { padding: $spacing-45; }
        &-50 { padding: $spacing-50; }
        &-75 { padding: $spacing-75; }
        &-100 { padding: $spacing-100; }
        &-150 { padding: $spacing-150; }
        &-200 { padding: $spacing-200; }
    }

    //PADDING TOP
    .pt-dt-sm {
        &-0 { padding-top : 0; }
        &-5 { padding-top: $spacing-5; }
        &-10 { padding-top: $spacing-10; }
        &-15 { padding-top: $spacing-15; }
        &-20 { padding-top: $spacing-20; }
        &-25 { padding-top: $spacing-25; }
        &-30 { padding-top: $spacing-30; }
        &-35 { padding-top: $spacing-35; }
        &-40 { padding-top: $spacing-40; }
        &-45 { padding-top: $spacing-45; }
        &-50 { padding-top: $spacing-50; }
        &-75 { padding-top: $spacing-75; }
        &-100 { padding-top: $spacing-100; }
        &-150 { padding-top: $spacing-150; }
        &-200 { padding-top: $spacing-200; }
    }

    //PADDING BOTTOM
    .pb-dt-sm {
        &-0 { padding-bottom : 0; }
        &-5 { padding-bottom: $spacing-5; }
        &-10 { padding-bottom: $spacing-10; }
        &-15 { padding-bottom: $spacing-15; }
        &-20 { padding-bottom: $spacing-20; }
        &-25 { padding-bottom: $spacing-25; }
        &-30 { padding-bottom: $spacing-30; }
        &-35 { padding-bottom: $spacing-35; }
        &-40 { padding-bottom: $spacing-40; }
        &-45 { padding-bottom: $spacing-45; }
        &-50 { padding-bottom: $spacing-50; }
        &-75 { padding-bottom: $spacing-75; }
        &-100 { padding-bottom: $spacing-100; }
        &-150 { padding-bottom: $spacing-150; }
        &-200 { padding-bottom: $spacing-200; }
    }

    //PADDING RIGHT
    .pr-dt-sm {
        &-0 { padding-right : 0; }
        &-5 { padding-right: $spacing-5; }
        &-10 { padding-right: $spacing-10; }
        &-15 { padding-right: $spacing-15; }
        &-20 { padding-right: $spacing-20; }
        &-25 { padding-right: $spacing-25; }
        &-30 { padding-right: $spacing-30; }
        &-35 { padding-right: $spacing-35; }
        &-40 { padding-right: $spacing-40; }
        &-45 { padding-right: $spacing-45; }
        &-50 { padding-right: $spacing-50; }
        &-75 { padding-right: $spacing-75; }
        &-100 { padding-right: $spacing-100; }
        &-150 { padding-right: $spacing-150; }
        &-200 { padding-right: $spacing-200; }
    }

    //PADDING LEFT
    .pl-dt-sm {
        &-0 { padding-left : 0; }
        &-5 { padding-left: $spacing-5; }
        &-10 { padding-left: $spacing-10; }
        &-15 { padding-left: $spacing-15; }
        &-20 { padding-left: $spacing-20; }
        &-25 { padding-left: $spacing-25; }
        &-30 { padding-left: $spacing-30; }
        &-35 { padding-left: $spacing-35; }
        &-40 { padding-left: $spacing-40; }
        &-45 { padding-left: $spacing-45; }
        &-50 { padding-left: $spacing-50; }
        &-75 { padding-left: $spacing-75; }
        &-100 { padding-left: $spacing-100; }
        &-150 { padding-left: $spacing-150; }
        &-200 { padding-left: $spacing-200; }
    }

    //PADDING HORIZONTAL
    .px-dt-sm {
        &-0 { padding-right : 0; padding-left: 0; }
        &-5 { padding-right: $spacing-5; padding-left: $spacing-5; }
        &-10 { padding-right: $spacing-10; padding-left: $spacing-10; }
        &-15 { padding-right: $spacing-15; padding-left: $spacing-15; }
        &-20 { padding-right: $spacing-20; padding-left: $spacing-20; }
        &-25 { padding-right: $spacing-25; padding-left: $spacing-25; }
        &-30 { padding-right: $spacing-30; padding-left: $spacing-30; }
        &-35 { padding-right: $spacing-35; padding-left: $spacing-35; }
        &-40 { padding-right: $spacing-40; padding-left: $spacing-40; }
        &-45 { padding-right: $spacing-45; padding-left: $spacing-45; }
        &-50 { padding-right: $spacing-50; padding-left: $spacing-50; }
        &-75 { padding-right: $spacing-75; padding-left: $spacing-75; }
        &-100 { padding-right: $spacing-100; padding-left: $spacing-100; }
        &-150 { padding-right: $spacing-150; padding-left: $spacing-150; }
        &-200 { padding-right: $spacing-200; padding-left: $spacing-200; }
    }
    
    //PADDING HORIZONTAL
    .py-dt-sm {
        &-0 { padding-top : 0; padding-bottom: 0; }
        &-5 { padding-top: $spacing-5; padding-bottom: $spacing-5; }
        &-10 { padding-top: $spacing-10; padding-bottom: $spacing-10; }
        &-15 { padding-top: $spacing-15; padding-bottom: $spacing-15; }
        &-20 { padding-top: $spacing-20; padding-bottom: $spacing-20; }
        &-25 { padding-top: $spacing-25; padding-bottom: $spacing-25; }
        &-30 { padding-top: $spacing-30; padding-bottom: $spacing-30; }
        &-35 { padding-top: $spacing-35; padding-bottom: $spacing-35; }
        &-40 { padding-top: $spacing-40; padding-bottom: $spacing-40; }
        &-45 { padding-top: $spacing-45; padding-bottom: $spacing-45; }
        &-50 { padding-top: $spacing-50; padding-bottom: $spacing-50; }
        &-75 { padding-top: $spacing-75; padding-bottom: $spacing-75; }
        &-100 { padding-top: $spacing-100; padding-bottom: $spacing-100; }
        &-150 { padding-top: $spacing-150; padding-bottom: $spacing-150; }
        &-200 { padding-top: $spacing-200; padding-bottom: $spacing-200; }
    }
}