.cta {
    height: 60px;
    width: 234px;
    border-color: #55C6D7;
    border-radius: 0;
    color: #fff;
    background-image: linear-gradient(30deg, #55C6D7 50%, transparent 50%);
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: 0%;
    transition: background 300ms ease-in-out;
    &:hover {
        background-position: 100%;
        color: #55C6D7;
    }
}