.custom {
    &.logo {
        &-sm {
            height: 28px;
            width: 121px;
        }
    }
    &-button {
        height: 60px;
        width: 234px;
        background-color: #55C6D7!important;
        border-color: #55C6D7!important;
        border-radius: 0!important;
    }
}

.homepage {
    &.no-overflow {
        overflow: hidden;
    }
}

.bg {
    &-dblue {
        background: #172843;
    }
    &-lblue {
        background: #55C6D7;
    }

    &-fade {
        &-to-left {
            background: rgb(0,0,0);
            background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(38,38,38,1) 68%, rgba(255,255,255,0) 100%);
        }
    }
}