@use '../abstracts/sizes' as *;

.txt {
    &-8 {
        font-size: $size-8;
    }
    &-9 {
        font-size: $size-9;
    }
    &-10 {
        font-size: $size-10;
    }
    &-13 {
        font-size: $size-13;
    }
    &-16 {
        font-size: $size-16;
    }
    &-18 {
        font-size: $size-18;
    }
    &-21 {
        font-size: $size-21;
    }
    &-24 {
        font-size: $size-24;
    }
    &-32 {
        font-size: $size-32;
    }
    &-36 {
        font-size: $size-36;
    }
    &-45 {
        font-size: $size-45;
    }

    &-weight {
        &-100 {
            font-weight: 100;
        }
        &-400 {
            font-weight: 400;
        }
        &-700 {
            font-weight: 700;
        }
        &-900 {
            font-weight: 900;
        }
    }

    &-cc {
        text-transform: capitalize;
    }

    &-uc {
        text-transform: uppercase;
    }

    &-white {
        color: #fff;
    }
    &-black {
        color: #000;
    }

    &-nunito {
        font-family: 'Nunito', sans-serif;
    }
    &-montserrat {
        font-family: 'Montserrat', sans-serif;
    }
}