@use '../abstracts/spacing' as *;
@use '../abstracts/breakpoints' as *;

.h {
    &-0 { height : 0; }
    &-5 { height: $spacing-5; }
    &-10 { height: $spacing-10; }
    &-12 { height: $spacing-12;}
    &-13 { height: $spacing-13;}
    &-15 { height: $spacing-15; }
    &-20 { height: $spacing-20; }
    &-21 { height: 21px; }
    &-25 { height: $spacing-25; }
    &-30 { height: $spacing-30; }
    &-32 { height: 32px; }
    &-35 { height: $spacing-35; }
    &-40 { height: $spacing-40; }
    &-45 { height: $spacing-45; }
    &-50 { height: $spacing-50; }
    &-75 { height: $spacing-75; }
    &-80 { height: $spacing-80; }
    &-100 { height: $spacing-100; }
    &-120 { height: 120px; }
    &-150 { height: $spacing-150; }
    &-200 { height: $spacing-200; }
    &-300 { height: 300px; }
    &-400 { height: 400px; }
    &-500 { height: 500px; }
    &-full { height: 100%; }
    &-vh { height: 100vh; }
    &-auto { height: auto; }    

    @media (max-width: $desktop-md) {
        &-dt-md {
            &-0 { height : 0; }
            &-5 { height: $spacing-5; }
            &-10 { height: $spacing-10; }
            &-15 { height: $spacing-15; }
            &-20 { height: $spacing-20; }
            &-25 { height: $spacing-25; }
            &-30 { height: $spacing-30; }
            &-35 { height: $spacing-35; }
            &-40 { height: $spacing-40; }
            &-45 { height: $spacing-45; }
            &-50 { height: $spacing-50; }
            &-75 { height: $spacing-75; }
            &-80 { height: $spacing-80; }
            &-100 { height: $spacing-100; }
            &-150 { height: $spacing-150; }
            &-200 { height: $spacing-200; }
            &-300 { height: 300px; }
            &-400 { height: 400px; }
            &-500 { height: 500px; }
            &-full { height: 100%; }
        }
    }

    @media (max-width: $desktop-sm) {
        &-dt-sm {
            &-0 { height : 0; }
            &-5 { height: $spacing-5; }
            &-10 { height: $spacing-10; }
            &-15 { height: $spacing-15; }
            &-20 { height: $spacing-20; }
            &-25 { height: $spacing-25; }
            &-30 { height: $spacing-30; }
            &-35 { height: $spacing-35; }
            &-40 { height: $spacing-40; }
            &-45 { height: $spacing-45; }
            &-50 { height: $spacing-50; }
            &-75 { height: $spacing-75; }
            &-80 { height: $spacing-80; }
            &-100 { height: $spacing-100; }
            &-150 { height: $spacing-150; }
            &-200 { height: $spacing-200; }
            &-300 { height: 300px; }
            &-400 { height: 400px; }
            &-500 { height: 500px; }
            &-full { height: 100%; }
        }
    }

    @media (max-width: $tablet-md) {
        &-tb-md {
            &-0 { height : 0; }
            &-5 { height: $spacing-5; }
            &-10 { height: $spacing-10; }
            &-15 { height: $spacing-15; }
            &-20 { height: $spacing-20; }
            &-25 { height: $spacing-25; }
            &-30 { height: $spacing-30; }
            &-35 { height: $spacing-35; }
            &-40 { height: $spacing-40; }
            &-45 { height: $spacing-45; }
            &-50 { height: $spacing-50; }
            &-60 { height: $spacing-60; }
            &-75 { height: $spacing-75; }
            &-80 { height: $spacing-80; }
            &-100 { height: $spacing-100; }
            &-150 { height: $spacing-150; }
            &-200 { height: $spacing-200; }
            &-300 { height: 300px; }
            &-400 { height: 400px; }
            &-500 { height: 500px; }
            &-full { height: 100%; }
        }
    }

    @media (max-width: $tablet-sm) {
        &-tb-sm {
            &-0 { height : 0; }
            &-5 { height: $spacing-5; }
            &-10 { height: $spacing-10; }
            &-15 { height: $spacing-15; }
            &-20 { height: $spacing-20; }
            &-25 { height: $spacing-25; }
            &-30 { height: $spacing-30; }
            &-35 { height: $spacing-35; }
            &-40 { height: $spacing-40; }
            &-45 { height: $spacing-45; }
            &-50 { height: $spacing-50; }
            &-75 { height: $spacing-75; }
            &-80 { height: $spacing-80; }
            &-100 { height: $spacing-100; }
            &-150 { height: $spacing-150; }
            &-200 { height: $spacing-200; }
            &-300 { height: 300px; }
            &-400 { height: 400px; }
            &-500 { height: 500px; }
            &-full { height: 100%; }
        }
    }

    @media (max-width: $mobile-xl) {
        &-mb-xl {
            &-0 { height : 0; }
            &-5 { height: $spacing-5; }
            &-10 { height: $spacing-10; }
            &-15 { height: $spacing-15; }
            &-20 { height: $spacing-20; }
            &-25 { height: $spacing-25; }
            &-30 { height: $spacing-30; }
            &-35 { height: $spacing-35; }
            &-40 { height: $spacing-40; }
            &-45 { height: $spacing-45; }
            &-50 { height: $spacing-50; }
            &-75 { height: $spacing-75; }
            &-80 { height: $spacing-80; }
            &-100 { height: $spacing-100; }
            &-150 { height: $spacing-150; }
            &-160 { height: 160px; }
            &-200 { height: $spacing-200; }
            &-300 { height: 300px; }
            &-400 { height: 400px; }
            &-500 { height: 500px; }
            &-full { height: 100%; }
        }
    }
    
    @media (max-width: $mobile-lg) {
        &-mb-lg {
            &-0 { height : 0; }
            &-5 { height: $spacing-5; }
            &-10 { height: $spacing-10; }
            &-15 { height: $spacing-15; }
            &-20 { height: $spacing-20; }
            &-25 { height: $spacing-25; }
            &-30 { height: $spacing-30; }
            &-35 { height: $spacing-35; }
            &-40 { height: $spacing-40; }
            &-45 { height: $spacing-45; }
            &-50 { height: $spacing-50; }
            &-75 { height: $spacing-75; }
            &-80 { height: $spacing-80; }
            &-100 { height: $spacing-100; }
            &-150 { height: $spacing-150; }
            &-200 { height: $spacing-200; }
            &-300 { height: 300px; }
            &-400 { height: 400px; }
            &-500 { height: 500px; }
            &-full { height: 100%; }
        }
    }

    @media (max-width: $mobile-md) {
        &-mb-md {
            &-0 { height : 0; }
            &-5 { height: $spacing-5; }
            &-10 { height: $spacing-10; }
            &-15 { height: $spacing-15; }
            &-20 { height: $spacing-20; }
            &-25 { height: $spacing-25; }
            &-30 { height: $spacing-30; }
            &-35 { height: $spacing-35; }
            &-40 { height: $spacing-40; }
            &-45 { height: $spacing-45; }
            &-50 { height: $spacing-50; }
            &-70 { height: 70px; }
            &-75 { height: $spacing-75; }
            &-80 { height: $spacing-80; }
            &-100 { height: $spacing-100; }
            &-150 { height: $spacing-150; }
            &-160 { height: 160px; }
            &-200 { height: $spacing-200; }
            &-300 { height: 300px; }
            &-400 { height: 400px; }
            &-500 { height: 500px; }
            &-full { height: 100%; }
        }
    }

    @media (max-width: $mobile-sm) {
        &-mb-sm {
            &-0 { height : 0; }
            &-5 { height: $spacing-5; }
            &-10 { height: $spacing-10; }
            &-15 { height: $spacing-15; }
            &-20 { height: $spacing-20; }
            &-25 { height: $spacing-25; }
            &-30 { height: $spacing-30; }
            &-35 { height: $spacing-35; }
            &-40 { height: $spacing-40; }
            &-45 { height: $spacing-45; }
            &-50 { height: $spacing-50; }
            &-75 { height: $spacing-75; }
            &-80 { height: $spacing-80; }
            &-100 { height: $spacing-100; }
            &-150 { height: $spacing-150; }
            &-200 { height: $spacing-200; }
            &-300 { height: 300px; }
            &-400 { height: 400px; }
            &-500 { height: 500px; }
            &-full { height: 100%; }
        }
    }

    @media (max-width: $media-575) {
        &-ml-media-575 {
            &-0 { height : 0; }
            &-5 { height: $spacing-5; }
            &-10 { height: $spacing-10; }
            &-15 { height: $spacing-15; }
            &-20 { height: $spacing-20; }
            &-25 { height: $spacing-25; }
            &-30 { height: $spacing-30; }
            &-35 { height: $spacing-35; }
            &-40 { height: $spacing-40; }
            &-45 { height: $spacing-45; }
            &-50 { height: $spacing-50; }
            &-75 { height: $spacing-75; }
            &-80 { height: $spacing-80; }
            &-100 { height: $spacing-100; }
            &-150 { height: $spacing-150; }
            &-200 { height: $spacing-200; }
            &-300 { height: 300px; }
            &-400 { height: 400px; }
            &-500 { height: 500px; }
            &-full { height: 100%; }
        }
    }
}

.overflow-y-scroll {
    overflow-y: scroll;
}