@use '../abstracts/spacing' as *;
@use '../abstracts/breakpoints' as *;

.w {
    &-0 { width : 0; }
    &-5 { width: $spacing-5; }
    &-10 { width: $spacing-10; }
    &-15 { width: $spacing-15; }
    &-20 { width: $spacing-20; }
    &-25 { width: $spacing-25; }
    &-30 { width: $spacing-30; }
    &-35 { width: $spacing-35; }
    &-40 { width: $spacing-40; }
    &-45 { width: $spacing-45; }
    &-50 { width: $spacing-50; }
    &-75 { width: $spacing-75; }
    &-80 { width: $spacing-80; }
    &-100 { width: $spacing-100; }
    &-150 { width: $spacing-150; }
    &-200 { width: $spacing-200; }
    &-225 { width: 225px; }
    &-250 { width: 250px; }
    &-275 { width: 275px; }
    &-300 { width: 300px; }
    &-325 { width: 325px; }
    &-350 { width: 350px; }
    &-400 { width: 400px; }
    &-450 { width: 450px; }
    &-500 { width: 500px; }
    &-600 { width: 600px; }
    &-650 { width: 650px; }
    &-700 { width: 700px; }
    &-750 { width: 750px; }
    &-800 { width: 800px; }
    &-850 { width: 850px; }
    &-full { width: 100%; }
    &-fit-content { width: fit-content;}
    

    @media (max-width: $desktop-md) {
        &-dt-md {
            &-0 { width : 0; }
            &-5 { width: $spacing-5; }
            &-10 { width: $spacing-10; }
            &-15 { width: $spacing-15; }
            &-20 { width: $spacing-20; }
            &-25 { width: $spacing-25; }
            &-30 { width: $spacing-30; }
            &-35 { width: $spacing-35; }
            &-40 { width: $spacing-40; }
            &-45 { width: $spacing-45; }
            &-50 { width: $spacing-50; }
            &-75 { width: $spacing-75; }
            &-80 { width: $spacing-80; }
            &-100 { width: $spacing-100; }
            &-150 { width: $spacing-150; }
            &-200 { width: $spacing-200; }
            &-225 { width: 225px; }
            &-250 { width: 250px; }
            &-275 { width: 275px; }
            &-300 { width: 300px; }
            &-325 { width: 325px; }
            &-350 { width: 350px; }
            &-400 { width: 400px; }
            &-450 { width: 450px; }
            &-500 { width: 500px; }
            &-650 { width: 650px; }
            &-700 { width: 700px; }
            &-750 { width: 750px; }
            &-800 { width: 800px; }
            &-850 { width: 850px; }
            &-full { width: 100%; }
        }
    }

    @media (max-width: $desktop-sm-2) {
        &-dt-sm2 {
            &-0 { width : 0; }
            &-5 { width: $spacing-5; }
            &-10 { width: $spacing-10; }
            &-15 { width: $spacing-15; }
            &-20 { width: $spacing-20; }
            &-25 { width: $spacing-25; }
            &-30 { width: $spacing-30; }
            &-35 { width: $spacing-35; }
            &-40 { width: $spacing-40; }
            &-45 { width: $spacing-45; }
            &-50 { width: $spacing-50; }
            &-75 { width: $spacing-75; }
            &-80 { width: $spacing-80; }
            &-100 { width: $spacing-100; }
            &-150 { width: $spacing-150; }
            &-200 { width: $spacing-200; }
            &-225 { width: 225px; }
            &-250 { width: 250px; }
            &-275 { width: 275px; }
            &-300 { width: 300px; }
            &-325 { width: 325px; }
            &-350 { width: 350px; }
            &-400 { width: 400px; }
            &-450 { width: 450px; }
            &-500 { width: 500px; }
            &-650 { width: 650px; }
            &-700 { width: 700px; }
            &-750 { width: 750px; }
            &-800 { width: 800px; }
            &-850 { width: 850px; }
            &-full { width: 100%; }
        }
    }


    @media (max-width: $desktop-sm) {
        &-dt-sm {
            &-0 { width : 0; }
            &-5 { width: $spacing-5; }
            &-10 { width: $spacing-10; }
            &-15 { width: $spacing-15; }
            &-20 { width: $spacing-20; }
            &-25 { width: $spacing-25; }
            &-30 { width: $spacing-30; }
            &-35 { width: $spacing-35; }
            &-40 { width: $spacing-40; }
            &-45 { width: $spacing-45; }
            &-50 { width: $spacing-50; }
            &-75 { width: $spacing-75; }
            &-80 { width: $spacing-80; }
            &-100 { width: $spacing-100; }
            &-150 { width: $spacing-150; }
            &-200 { width: $spacing-200; }
            &-225 { width: 225px; }
            &-250 { width: 250px; }
            &-275 { width: 275px; }
            &-300 { width: 300px; }
            &-325 { width: 325px; }
            &-350 { width: 350px; }
            &-360 { width: 360px; }
            &-400 { width: 400px; }
            &-450 { width: 450px; }
            &-500 { width: 500px; }
            &-650 { width: 650px; }
            &-700 { width: 700px; }
            &-750 { width: 750px; }
            &-800 { width: 800px; }
            &-850 { width: 850px; }
            &-full { width: 100%; }
        }
    }

   
    @media (max-width: $tablet-md) {
        &-tb-md {
            &-0 { width : 0; }
            &-5 { width: $spacing-5; }
            &-10 { width: $spacing-10; }
            &-15 { width: $spacing-15; }
            &-20 { width: $spacing-20; }
            &-25 { width: $spacing-25; }
            &-30 { width: $spacing-30; }
            &-35 { width: $spacing-35; }
            &-40 { width: $spacing-40; }
            &-45 { width: $spacing-45; }
            &-50 { width: $spacing-50; }
            &-75 { width: $spacing-75; }
            &-80 { width: $spacing-80; }
            &-100 { width: $spacing-100; }
            &-150 { width: $spacing-150; }
            &-160 { width: $spacing-160; }
            &-200 { width: $spacing-200; }
            &-225 { width: 225px; }
            &-250 { width: 250px; }
            &-275 { width: 275px; }
            &-300 { width: 300px; }
            &-325 { width: 325px; }
            &-350 { width: 350px; }
            &-400 { width: 400px; }
            &-450 { width: 450px; }
            &-500 { width: 500px; }
            &-600 { width: 600px; }
            &-650 { width: 650px; }
            &-700 { width: 700px; }
            &-750 { width: 750px; }
            &-800 { width: 800px; }
            &-850 { width: 850px; }
            &-full { width: 100%; }
        }
    }

    @media (max-width: $tablet-sm) {
        &-tb-sm {
            &-0 { width : 0; }
            &-5 { width: $spacing-5; }
            &-10 { width: $spacing-10; }
            &-15 { width: $spacing-15; }
            &-20 { width: $spacing-20; }
            &-25 { width: $spacing-25; }
            &-30 { width: $spacing-30; }
            &-35 { width: $spacing-35; }
            &-40 { width: $spacing-40; }
            &-45 { width: $spacing-45; }
            &-50 { width: $spacing-50; }
            &-75 { width: $spacing-75; }
            &-80 { width: $spacing-80; }
            &-100 { width: $spacing-100; }
            &-150 { width: $spacing-150; }
            &-200 { width: $spacing-200; }
            &-225 { width: 225px; }
            &-250 { width: 250px; }
            &-275 { width: 275px; }
            &-300 { width: 300px; }
            &-325 { width: 325px; }
            &-350 { width: 350px; }
            &-400 { width: 400px; }
            &-450 { width: 450px; }
            &-500 { width: 500px; }
            &-600 { width: 600px; }
            &-650 { width: 650px; }
            &-700 { width: 700px; }
            &-750 { width: 750px; }
            &-800 { width: 800px; }
            &-850 { width: 850px; }
            &-full { width: 100%; }
        }
    }

    @media (max-width: $tablet-xs) {
        &-tb-xs {
            &-0 { width : 0; }
            &-5 { width: $spacing-5; }
            &-10 { width: $spacing-10; }
            &-15 { width: $spacing-15; }
            &-20 { width: $spacing-20; }
            &-25 { width: $spacing-25; }
            &-30 { width: $spacing-30; }
            &-35 { width: $spacing-35; }
            &-40 { width: $spacing-40; }
            &-45 { width: $spacing-45; }
            &-50 { width: $spacing-50; }
            &-75 { width: $spacing-75; }
            &-80 { width: $spacing-80; }
            &-100 { width: $spacing-100; }
            &-150 { width: $spacing-150; }
            &-200 { width: $spacing-200; }
            &-225 { width: 225px; }
            &-250 { width: 250px; }
            &-275 { width: 275px; }
            &-300 { width: 300px; }
            &-325 { width: 325px; }
            &-350 { width: 350px; }
            &-400 { width: 400px; }
            &-450 { width: 450px; }
            &-500 { width: 500px; }
            &-600 { width: 600px; }
            &-650 { width: 650px; }
            &-700 { width: 700px; }
            &-750 { width: 750px; }
            &-800 { width: 800px; }
            &-850 { width: 850px; }
            &-full { width: 100%; }
        }
    }

    @media (max-width: $media-575) {
        &-575 {
            &-0 { width : 0; }
            &-5 { width: $spacing-5; }
            &-10 { width: $spacing-10; }
            &-15 { width: $spacing-15; }
            &-20 { width: $spacing-20; }
            &-25 { width: $spacing-25; }
            &-30 { width: $spacing-30; }
            &-35 { width: $spacing-35; }
            &-40 { width: $spacing-40; }
            &-45 { width: $spacing-45; }
            &-50 { width: $spacing-50; }
            &-75 { width: $spacing-75; }
            &-80 { width: $spacing-80; }
            &-100 { width: $spacing-100; }
            &-150 { width: $spacing-150; }
            &-200 { width: $spacing-200; }
            &-225 { width: 225px; }
            &-250 { width: 250px; }
            &-275 { width: 275px; }
            &-300 { width: 300px; }
            &-325 { width: 325px; }
            &-350 { width: 350px; }
            &-400 { width: 400px; }
            &-450 { width: 450px; }
            &-500 { width: 500px; }
            &-full { width: 100%; }
        }
    }

    @media (max-width: $media-525) {
        &-525 {
            &-0 { width : 0; }
            &-5 { width: $spacing-5; }
            &-10 { width: $spacing-10; }
            &-15 { width: $spacing-15; }
            &-20 { width: $spacing-20; }
            &-25 { width: $spacing-25; }
            &-30 { width: $spacing-30; }
            &-35 { width: $spacing-35; }
            &-40 { width: $spacing-40; }
            &-45 { width: $spacing-45; }
            &-50 { width: $spacing-50; }
            &-75 { width: $spacing-75; }
            &-80 { width: $spacing-80; }
            &-100 { width: $spacing-100; }
            &-150 { width: $spacing-150; }
            &-200 { width: $spacing-200; }
            &-225 { width: 225px; }
            &-250 { width: 250px; }
            &-275 { width: 275px; }
            &-300 { width: 300px; }
            &-325 { width: 325px; }
            &-350 { width: 350px; }
            &-400 { width: 400px; }
            &-450 { width: 450px; }
            &-500 { width: 500px; }
            &-full { width: 100%; }
        }
    }

    @media (max-width: $mobile-xl) {
        &-mb-xl {
            &-0 { width : 0; }
            &-5 { width: $spacing-5; }
            &-10 { width: $spacing-10; }
            &-15 { width: $spacing-15; }
            &-20 { width: $spacing-20; }
            &-25 { width: $spacing-25; }
            &-30 { width: $spacing-30; }
            &-35 { width: $spacing-35; }
            &-40 { width: $spacing-40; }
            &-45 { width: $spacing-45; }
            &-50 { width: $spacing-50; }
            &-75 { width: $spacing-75; }
            &-80 { width: $spacing-80; }
            &-100 { width: $spacing-100; }
            &-150 { width: $spacing-150; }
            &-160 { width: 160px; }
            &-200 { width: $spacing-200; }
            &-225 { width: 225px; }
            &-250 { width: 250px; }
            &-275 { width: 275px; }
            &-300 { width: 300px; }
            &-325 { width: 325px; }
            &-350 { width: 350px; }
            &-400 { width: 400px; }
            &-450 { width: 450px; }
            &-500 { width: 500px; }
            &-650 { width: 650px; }
            &-half { width: 50%; }
            &-full { width: 100%; }
        }
    }

    @media (max-width: $mobile-lg) {
        &-mb-lg {
            &-0 { width : 0; }
            &-5 { width: $spacing-5; }
            &-10 { width: $spacing-10; }
            &-15 { width: $spacing-15; }
            &-20 { width: $spacing-20; }
            &-25 { width: $spacing-25; }
            &-30 { width: $spacing-30; }
            &-35 { width: $spacing-35; }
            &-40 { width: $spacing-40; }
            &-45 { width: $spacing-45; }
            &-50 { width: $spacing-50; }
            &-75 { width: $spacing-75; }
            &-80 { width: $spacing-80; }
            &-100 { width: $spacing-100; }
            &-150 { width: $spacing-150; }
            &-160 { width: 160px; }
            &-200 { width: $spacing-200; }
            &-225 { width: 225px; }
            &-250 { width: 250px; }
            &-275 { width: 275px; }
            &-300 { width: 300px; }
            &-325 { width: 325px; }
            &-350 { width: 350px; }
            &-400 { width: 400px; }
            &-450 { width: 450px; }
            &-500 { width: 500px; }
            &-650 { width: 650px; }
            &-full { width: 100%; }
        }
    }

    @media (max-width: $media-525) {
        &-media-525 {
            &-0 { width : 0; }
            &-5 { width: $spacing-5; }
            &-10 { width: $spacing-10; }
            &-15 { width: $spacing-15; }
            &-20 { width: $spacing-20; }
            &-25 { width: $spacing-25; }
            &-30 { width: $spacing-30; }
            &-35 { width: $spacing-35; }
            &-40 { width: $spacing-40; }
            &-45 { width: $spacing-45; }
            &-50 { width: $spacing-50; }
            &-75 { width: $spacing-75; }
            &-80 { width: $spacing-80; }
            &-100 { width: $spacing-100; }
            &-150 { width: $spacing-150; }
            &-200 { width: $spacing-200; }
            &-225 { width: 225px; }
            &-250 { width: 250px; }
            &-275 { width: 275px; }
            &-300 { width: 300px; }
            &-325 { width: 325px; }
            &-350 { width: 350px; }
            &-400 { width: 400px; }
            &-450 { width: 450px; }
            &-500 { width: 500px; }
            &-650 { width: 650px; }
            &-full { width: 100%; }
        }
    }

    @media (max-width: $mobile-md) {
        &-mb-md {
            &-0 { width : 0; }
            &-5 { width: $spacing-5; }
            &-10 { width: $spacing-10; }
            &-15 { width: $spacing-15; }
            &-20 { width: $spacing-20; }
            &-25 { width: $spacing-25; }
            &-30 { width: $spacing-30; }
            &-35 { width: $spacing-35; }
            &-40 { width: $spacing-40; }
            &-45 { width: $spacing-45; }
            &-50 { width: $spacing-50; }
            &-75 { width: $spacing-75; }
            &-80 { width: $spacing-80; }
            &-100 { width: $spacing-100; }
            &-150 { width: $spacing-150; }
            &-160 { width: 160px; }
            &-175 { width: 175px; }
            &-200 { width: $spacing-200; }
            &-225 { width: 225px; }
            &-250 { width: 250px; }
            &-275 { width: 275px; }
            &-300 { width: 300px; }
            &-325 { width: 325px; }
            &-350 { width: 350px; }
            &-400 { width: 400px; }
            &-450 { width: 450px; }
            &-500 { width: 500px; }
            &-650 { width: 650px; }
            &-full { width: 100%; }
        }
    }

    @media (max-width: $mobile-sm) {
        &-mb-sm {
            &-0 { width : 0; }
            &-5 { width: $spacing-5; }
            &-10 { width: $spacing-10; }
            &-15 { width: $spacing-15; }
            &-20 { width: $spacing-20; }
            &-25 { width: $spacing-25; }
            &-30 { width: $spacing-30; }
            &-35 { width: $spacing-35; }
            &-40 { width: $spacing-40; }
            &-45 { width: $spacing-45; }
            &-50 { width: $spacing-50; }
            &-75 { width: $spacing-75; }
            &-80 { width: $spacing-80; }
            &-100 { width: $spacing-100; }
            &-150 { width: $spacing-150; }
            &-200 { width: $spacing-200; }
            &-225 { width: 225px; }
            &-250 { width: 250px; }
            &-275 { width: 275px; }
            &-300 { width: 300px; }
            &-325 { width: 325px; }
            &-350 { width: 350px; }
            &-400 { width: 400px; }
            &-450 { width: 450px; }
            &-500 { width: 500px; }
            &-650 { width: 650px; }
            &-full { width: 100%; }
        }
    }
}